@import "mixin";
@import "animation";

html {
  $map: 320px, 360px, 375px, 412px, 414px, 750px;
  @each $list in $map {
    @media screen and (min-width: #{$list}) {
      font-size: 100 * ($list/750);
    }
  }
}

body {
  font-size: 16px;
  overflow: hidden;
}

.common {
  @include whb(100%, 100vh, #201b17);
  position: relative;
  .con {
    @include wh(7.5rem * 727/750, 100vh);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }

  .content1 {
    position: absolute;
    @include wh(7.5rem * 727/750, 100vh);
    display: flex;
    justify-content: center;
    align-items: center;
    .content1_row {
      @include wh(7.5rem * 727/750, 100vh);
    }
  }

  .content2 {
    position: absolute;
    @include wh(7.5rem * 727/750, 100vh);
    display: flex;
    justify-content: center;
    align-items: center;
    .content2_row {
      @include wh(7.5rem * 727/750, 100vh);
      background: url("/Static/default/images/lxj-00a_03.png") center/contain no-repeat;
    }
  }

  .content_three {
    @include wh(7.5rem * 730/750, auto);
    @include pos;
    //background: yellow;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    .content3 {
      @include wh(100%, 460px);
      flex: 1 1 auto;
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
      align-items: center;
      .con_top0 {
        flex: 1 1 auto;
        @include wh(100%, 165px);
      }
      .con_top1 {
        flex: 1 1 auto;
        @include wh(100%, 250px);
      }
      .con_top2 {
        flex: 1 1 auto;
        @include wh(100%, 45px);
        background: url("/Static/default/images/lxj-1-4.gif") center/contain no-repeat;
      }
    }
    .content_center {
      @include wh(100%, 453px);
      flex: 1 1 auto;
      //background: orange;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      .page {
        flex: 1 1 auto;
        @include wh(110px, 100%);
        //background: red;
        display: flex;
        flex-flow: row;
        justify-content: flex-end;
        align-items: center;
        .page_con {
          @include wh(7.5rem * 50/750, 7.5rem * 150/750);
        }
      }
      .yuan {
        flex: 1 1 auto;
        @include wh(507px, 100%);
        //background: orange;
      }
      .gogo {
        flex: 1 1 auto;
        @include wh(110px, 100%);
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        align-items: center;
        .go {
          @include wh(7.5rem * 35/750, 7.5rem * 182/750);
          background: url("/Static/default/images/lxj-go.png") center/contain no-repeat;
        }

      }
    }
    .content6 {
      @include wh(100%, 367px);
      flex: 1 1 auto;
      //background: red;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;

      .con_bot {
        //display: block;
        @include wh(7.5rem * 364/750, 7.5rem * 130/750);
        background: url("/Static/default/images/lxj-1-a.png") center/cover no-repeat;
      }
      .con4_bot {
        //display: block;
        @include wh(7.5rem * 364/750, 7.5rem * 64/750);
        background: url("/Static/default/images/lxj-4-a.png") center/cover no-repeat;
      }
    }
  }

  .con1 {
    display: none;

    .content1 {
      .content1_row {
        background: url("/Static/default/images/lxj-1-1a.png") center/cover no-repeat;
      }
    }
    .content3 {
      .con_top1 {
        background: url("/Static/default/images/lxj-1-01.png") center/contain no-repeat;
      }
    }
    .page_con {
      background: url("/Static/default/images/lxj-page-1.png") center/cover no-repeat;
    }
  }

  .con2 {
    display: none;
    .content1 {
      .content1_row {
        background: url("/Static/default/images/lxj-2-1a.png") center/cover no-repeat;
      }
    }
    .content3 {
      .con_top1 {
        background: url("/Static/default/images/lxj-2-01.png") center/contain no-repeat;
      }
    }
    .page_con {
      background: url("/Static/default/images/lxj-page-2.png") center/cover no-repeat;
    }
  }

  .con3 {
    display: none;

    .content1 {
      .content1_row {
        background: url("/Static/default/images/lxj-3-1a.png") center/cover no-repeat;
      }

    }
    .content3 {
      .con_top1 {
        background: url("/Static/default/images/lxj-3-01.png") center/contain no-repeat;
      }
    }
    .page_con {
      background: url("/Static/default/images/lxj-page-3.png") center/cover no-repeat;
    }
  }

  .con4 {
    display: none;
    .content1 {
      .content1_row {
        background: url("/Static/default/images/lxj-4-1a.png") center/cover no-repeat;
      }

    }
    .content3 {
      .con_top1 {
        background: url("/Static/default/images/lxj-4-01.png") center/contain no-repeat;
      }
    }
    .page_con {
      background: url("/Static/default/images/lxj-page-4.png") center/cover no-repeat;
    }
  }
}

.dis {
  display: block !important;
}

.zuotui {
  animation: zt 1s both;
}

.youjin {
  animation: yj 1s both;
}
