.comment {
  width: 100%;
  height: auto; }
  .comment .com1 {
    width: 100%;
    height: 100%;
    background: url("../img/lxj-1-3.png") center no-repeat; }
  .comment .com2 {
    width: 100%;
    height: 100%;
    background: url("../img/lxj-1-1.png") center no-repeat; }
