@charset "UTF-8";
/*函数*/
/*@function bg(){
	$r:floor(random()*56+200);
	$g:floor(random()*56);
	$b:floor(random()*56);
	$color:rgb($r,$g,$b);
	@debug $color;
	@return $color;
}*/
@font-face {
  font-family: leftp;
  src: url(../../fonts/font_pnt9i8feioyfogvi/iconfont.woff); }

@font-face {
  font-family: guyue;
  src: url(../../fonts/文悦古体仿宋.otf); }

@font-face {
  font-family: adob;
  src: url(../../fonts/字体); }

@font-face {
  font-family: "San Francisco Display B";
  src: url(../../fonts/字体/sanfranciscodisplay-bold-webfont.ttf); }

@font-face {
  font-family: "San Francisco Display se";
  src: url(../../fonts/字体/sanfranciscodisplay-semibold-webfont.ttf); }

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media screen and (min-width: 384px) {
  html {
    font-size: 51.2px; } }

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

@media screen and (min-width: 600px) {
  html {
    font-size: 80px; } }

@media screen and (min-width: 640px) {
  html {
    font-size: 85.33333px; } }

@media screen and (min-width: 750px) {
  html {
    font-size: 100px; } }

* {
  border: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box; }

body {
  background: url("../../images/bx-background.jpg") center/cover repeat; }

.inner {
  width: 100%;
  height: 100%;
  padding: 0 5%; }

.table {
  width: 100%;
  height: 1.2rem;
  padding-top: 0.22rem;
  background: #020202; }
  .table .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .table .content .go-prev {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background: #c6b390;
    font-size: 0.3rem;
    color: #fff;
    font-weight: 700;
    text-align: center;
    line-height: 0.6rem;
    font-family: leftp, sans-serif; }
    .table .content .go-prev::before {
      content: '\e60b'; }
  .table .content .titleBox {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .table .content .titleBox .left-r, .table .content .titleBox .right-r {
      width: 20%;
      height: 0.13rem;
      background: url("../../images/bx-left.png") center/cover no-repeat; }
    .table .content .titleBox .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap; }
      .table .content .titleBox .title .chinese {
        font-size: 0.3rem;
        color: #fff;
        font-weight: 400;
        font-family: guyue, sans-serif; }
      .table .content .titleBox .title .english {
        margin-top: 2%;
        font-size: 0.18rem;
        color: #fff;
        font-weight: 400;
        font-family: guyue, sans-serif; }
    .table .content .titleBox .right-r {
      background: url("../../images/bx-right.png") center/cover no-repeat; }

.package {
  width: 100%;
  height: 6.78rem; }
  .package .new-p {
    width: 100%;
    height: 16%; }
  .package .historyBox {
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 0.24rem; }
    .package .historyBox .historySearch {
      width: 1.7rem;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center; }
      .package .historyBox .historySearch h3 {
        margin: 0;
        width: 100%; }
      .package .historyBox .historySearch .the {
        color: #ffffff;
        font-size: 0.22rem; }
      .package .historyBox .historySearch .xuan {
        color: #e3b08b;
        font-size: 0.22rem; }
      .package .historyBox .historySearch .HistoryText {
        color: #ffffff;
        font-size: 0.28rem; }
        .package .historyBox .historySearch .HistoryText span:nth-child(3), .package .historyBox .historySearch .HistoryText span:nth-child(4) {
          display: inline-block;
          width: 0.07rem;
          height: 0.07rem;
          border-radius: 50%;
          background: #e62923;
          margin-left: 0.04rem; }
      .package .historyBox .historySearch .circle {
        display: flex; }
        .package .historyBox .historySearch .circle span {
          display: inline-block;
          margin-right: 0.05rem;
          width: 0.04rem;
          height: 0.04rem;
          border-radius: 50%;
          background: #fff; }
          .package .historyBox .historySearch .circle span:nth-child(1), .package .historyBox .historySearch .circle span:nth-child(10) {
            background: #e62923; }
    .package .historyBox .HistoryText {
      display: flex;
      align-items: center; }
    .package .historyBox .level {
      margin: 0.72rem 0 0 3%;
      width: 4.6rem;
      height: 0.04rem;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .package .historyBox .level span {
        display: inline-block; }
        .package .historyBox .level span:nth-child(2) {
          width: 4.9rem;
          height: 0.015rem;
          background: #c6b390; }
        .package .historyBox .level span:nth-child(1), .package .historyBox .level span:nth-child(3) {
          width: 0.06rem;
          height: 0.06rem;
          border-radius: 50%;
          background: #e62923; }

.Recommend {
  width: 100%;
  height: 4.59rem; }
  .Recommend .play-kind {
    width: 100%;
    height: 76.4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .Recommend .play-kind .play-kind-item {
      width: 100%;
      height: 49.3%;
      background: url("../../images/bx-recieve-bg.png") center/cover no-repeat; }
      .Recommend .play-kind .play-kind-item .picture-show {
        width: 26%;
        height: 100%;
        position: relative;
        float: left; }
        .Recommend .play-kind .play-kind-item .picture-show .picture-item {
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          width: 90%;
          height: 90%;
          background: url("../../images/bx-beijing_01.png") center/cover no-repeat;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
        .Recommend .play-kind .play-kind-item .picture-show .picture-item .beijing {
          font-size: 0.32rem;
          color: #f6f6f6;
          font-weight: 400;
          font-family: '仿宋', sans-serif; }
        .Recommend .play-kind .play-kind-item .picture-show .picture-item .shaoxing {
          font-size: 0.22rem;
          color: #f6f6f6;
          font-weight: 400;
          font-family: '仿宋', sans-serif; }
      .Recommend .play-kind .play-kind-item .content-item {
        width: 73%;
        height: 100%;
        float: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 3%; }
        .Recommend .play-kind .play-kind-item .content-item .kind {
          font-size: 0.28rem;
          color: #333;
          font-weight: 700;
          font-family: '仿宋', sans-serif; }
        .Recommend .play-kind .play-kind-item .content-item .fen {
          width: 1.83rem;
          height: 0.04rem;
          background: url("../../images/bx-middle-line.png") center/cover no-repeat; }
        .Recommend .play-kind .play-kind-item .content-item .total {
          font-size: 0.21rem;
          color: #666;
          font-weight: 300;
          font-family: "仿宋", sans-serif; }
        .Recommend .play-kind .play-kind-item .content-item .desc {
          font-size: 0.2rem;
          color: #999;
          font-weight: 300;
          font-family: "仿宋", sans-serif; }
        .Recommend .play-kind .play-kind-item .content-item .product {
          width: 100%;
          height: 0.2rem;
          display: flex;
          justify-content: flex-start; }
          .Recommend .play-kind .play-kind-item .content-item .product .product-item {
            font-size: 0.18rem;
            color: #999;
            font-weight: 400;
            font-family: "仿宋", sans-serif; }
