@import "mixin";
@import "font";

$device-list: 320px, 360px, 375px, 384px, 412px, 414px, 600px, 640px, 750px;
html {
  @each $index in $device-list {
    @media screen and (min-width: $index) {
      font-size: 100 * ($index/750)
    }
  }
}

* {
  border: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
$font:'仿宋',sans-serif;
$imgs: "../../images/bx-";
$Img: "../../images/";

body {
  background: url($imgs + 'background.jpg') center/cover repeat;
}

.inner {
  @include cube(100%, 100%);
  padding: 0 5%;
}

.table {
  @include cube(100%, 1.2rem);
  padding-top: 0.22rem;
  background: #020202;
  .content {
    @include cube(100%, 100%);

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .content .go-prev {
    @include circle(0.60rem);
    background: #c6b390;
    @include font(0.3rem, #fff, 700);
    text-align: center;
    line-height: 0.6rem;
    font-family: leftp, sans-serif;
    &::before {
      content: '\e60b';
    }
  }
  .content .titleBox {
    @include cube(60%, 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left-r, .right-r {
      @include cube(20%, 0.13rem);
      background: url($imgs + 'left.png') center/cover no-repeat;
    }
    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      .chinese {
        @include font(0.3rem, #fff, 400);
        font-family: guyue, sans-serif;
      }
      .english {
        margin-top: 2%;
        @include font(0.18rem, #fff, 400);
        font-family: guyue, sans-serif;
      }
    }
    .right-r {
      background: url($imgs + 'right.png') center/cover no-repeat;
    }
  }
}

.package {
  @include cube(100%, 6.78rem);
  .new-p {
    @include cube(100%, 16%);

  }
  .historyBox {
    @include cube(100%, 75%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 0.24rem;
    .historySearch {
      @include cube(1.7rem, 100%);
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      h3 {
        margin: 0;
        width: 100%;
      }
      .the {
        color: #ffffff;
        font-size: 0.22rem;
      }
      .xuan {
        color: #e3b08b;
        font-size: 0.22rem;
      }
      .HistoryText {
        color: #ffffff;
        font-size: 0.28rem;
        span:nth-child(3), span:nth-child(4) {
          display: inline-block;
          @include circle(0.07rem);
          background: #e62923;
          margin-left: 0.04rem;
        }
      }
      .circle {
        display: flex;
        span {
          display: inline-block;
          margin-right: 0.05rem;
          @include circle(0.04rem);
          background: #fff;
          &:nth-child(1), &:nth-child(10) {
            background: #e62923;
          }
        }
      }
    }
    .HistoryText {
      display: flex;
      align-items: center;
    }
    .level {
      margin: 0.72rem 0 0 3%;
      @include cube(4.6rem, 0.04rem);
      display: flex;
      justify-content: space-around;
      align-items: center;
      span {
        display: inline-block;
        &:nth-child(2) {
          @include cube(4.9rem, 0.015rem);
          background: #c6b390;
        }
        &:nth-child(1), &:nth-child(3) {
          @include circle(0.06rem);
          background: #e62923;
        }
      }
    }
  }



}

.Recommend {
  @include cube(100%, 4.59rem);
  .play-kind {
    @include cube(100%, 76.4%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .play-kind-item {
      @include cube(100%, 49.3%);
      background: url($imgs + 'recieve-bg.png') center/cover no-repeat;
      .picture-show {
        @include cube(26%, 100%);
        position: relative;
        float: left;
        .picture-item {
          @include center;
          @include cube(90%, 90%);
          background: url($imgs + 'beijing_01.png') center/cover no-repeat;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

        }
        .picture-item .beijing {
          @include font(0.32rem, #f6f6f6, 400);
          font-family: '仿宋', sans-serif;
        }
        .picture-item .shaoxing {
          @include font(0.22rem, #f6f6f6, 400);
          font-family: '仿宋', sans-serif;
        }

      }

      .content-item {
        @include cube(73%, 100%);
        float: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left:3%;
        .kind {
          @include font(0.28rem, #333, 700);
          font-family: '仿宋', sans-serif;
        }
        .fen {
          @include cube(1.83rem,0.04rem);
          background: url($imgs + 'middle-line.png')center/cover no-repeat;
        }
        .total{
          @include font(0.21rem,#666,300);
          font-family: $font;
        }
        .desc{
          @include font(0.20rem,#999,300);
          font-family: $font;
        }
        .product{
          @include cube(100%,0.2rem);
          display:flex;
          justify-content: flex-start;
          .product-item{
            @include font(0.18rem,#999,400);
            font-family: $font;
          }
        }
      }
    }
  }
}



