@font-face {
  font-family: leftp;
  src: url(../../fonts/font_pnt9i8feioyfogvi/iconfont.woff);
}

@font-face {
  font-family: guyue;
  src: url(../../fonts/文悦古体仿宋.otf);
}

@font-face {
  font-family: adob;
  src: url(../../fonts/字体);
}

@font-face {
  font-family: "San Francisco Display B";
  src: url(../../fonts/字体/sanfranciscodisplay-bold-webfont.ttf);
}
@font-face {
  font-family: "San Francisco Display se";
  src: url(../../fonts/字体/sanfranciscodisplay-semibold-webfont.ttf);
}