@charset "UTF-8";
/*函数*/
/*@function bg(){
	$r:floor(random()*56+200);
	$g:floor(random()*56);
	$b:floor(random()*56);
	$color:rgb($r,$g,$b);
	@debug $color;
	@return $color;
}*/
@font-face {
  font-family: leftp;
  src: url(../../fonts/font_pnt9i8feioyfogvi/iconfont.woff); }

@font-face {
  font-family: guyue;
  src: url(../../fonts/文悦古体仿宋.otf); }

@font-face {
  font-family: adob;
  src: url(../../fonts/字体); }

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media screen and (min-width: 384px) {
  html {
    font-size: 51.2px; } }

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

@media screen and (min-width: 600px) {
  html {
    font-size: 80px; } }

@media screen and (min-width: 640px) {
  html {
    font-size: 85.33333px; } }

@media screen and (min-width: 750px) {
  html {
    font-size: 100px; } }

* {
  border: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box; }

body {
  background: url("../../images/bx-background.jpg") center/cover repeat; }

.inner {
  width: 100%;
  height: 100%;
  padding: 0 5%; }

.table {
  width: 100%;
  height: 1.2rem;
  padding-top: 0.22rem;
  background: #020202; }
  .table .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .table .content .go-prev {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background: #c6b390;
    font-size: 0.3rem;
    color: #fff;
    font-weight: 700;
    text-align: center;
    line-height: 0.6rem;
    font-family: leftp,sans-serif; }
    .table .content .go-prev::before {
      content: '\e60b'; }
  .table .content .titleBox {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .table .content .titleBox .left-r, .table .content .titleBox .right-r {
      width: 20%;
      height: 0.13rem;
      background: url("../../images/bx-left.png") center/cover no-repeat; }
    .table .content .titleBox .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap; }
      .table .content .titleBox .title .chinese {
        font-size: 0.3rem;
        color: #fff;
        font-weight: 400;
        font-family: guyue,sans-serif; }
      .table .content .titleBox .title .english {
        margin-top: 2%;
        font-size: 0.18rem;
        color: #fff;
        font-weight: 400;
        font-family: guyue,sans-serif; }
    .table .content .titleBox .right-r {
      background: url("../../images/bx-right.png") center/cover no-repeat; }

.pay-kind {
  width: 100%;
  height: 4.42rem; }
  .pay-kind .inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .pay-kind .pay-k {
    width: 100%;
    height: 1.74rem;
    background: url("../../images/bx-payment-background1.png") center/cover no-repeat; }
    .pay-kind .pay-k .left-p {
      width: 21%;
      height: 100%;
      float: left;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .pay-kind .pay-k .left-p .photo-box {
        width: 0.8rem;
        height: 0.8rem;
        background: rgba(242, 17, 12, 0.2);
        border-radius: 10%;
        transform: rotateZ(15deg);
        position: relative; }
        .pay-kind .pay-k .left-p .photo-box img {
          height: 0.8rem;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          transform: rotateZ(-15deg); }
        .pay-kind .pay-k .left-p .photo-box .red {
          width: 0.29rem;
          height: 0.29rem;
          border-radius: 50%;
          transform: rotateZ(-15deg);
          position: absolute;
          right: -30%;
          bottom: 5%;
          background: url("../../images/bx-red.png") center/cover no-repeat; }
      .pay-kind .pay-k .left-p .line {
        width: 43%;
        height: 0.02rem;
        margin-top: 10%;
        background: url("../../images/bx-small-line.png") center/cover no-repeat; }
    .pay-kind .pay-k .right-c {
      width: 79%;
      height: 100%;
      float: right;
      padding: 0.42rem 0; }
      .pay-kind .pay-k .right-c .k-title {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 5%; }
        .pay-kind .pay-k .right-c .k-title .payment-title1 {
          font-family: guyue,sans-serif;
          display: flex;
          justify-content: start; }
          .pay-kind .pay-k .right-c .k-title .payment-title1 h2 {
            font-size: 0.36rem;
            color: #c6b390;
            font-weight: 400; }
          .pay-kind .pay-k .right-c .k-title .payment-title1 .fairBox {
            width: 17%;
            height: 0.34rem;
            margin-left: 3%;
            display: flex;
            justify-content: space-between;
            align-items: center; }
            .pay-kind .pay-k .right-c .k-title .payment-title1 .fairBox li {
              width: 23%;
              height: 0.3rem;
              background: url("../../images/bx-fair.png") center/cover no-repeat; }
          .pay-kind .pay-k .right-c .k-title .payment-title1 .num5 {
            width: 0.3rem;
            height: 0.34rem;
            margin-left: 3%;
            font-size: 0.28rem;
            color: #f0f0f0;
            font-weight: 400;
            font-family: guyue,sans-serif;
            text-align: center;
            background: url("../../images/bx-5.png") center/cover no-repeat; }
        .pay-kind .pay-k .right-c .k-title .payment-d {
          width: 100%;
          height: 0.04rem;
          background: url("../../images/bx-middle-line.png") center left no-repeat; }
        .pay-kind .pay-k .right-c .k-title .payment-title2 {
          font-size: 0.24rem;
          color: #B1B1AF;
          font-weight: 400;
          font-family: guyue,sans-serif; }
  .pay-kind .pay-ks {
    width: 100%;
    height: 0.1rem;
    background: url("../../images/bx-long-line.png") center/cover no-repeat; }

.third {
  width: 100%;
  height: 6.4rem; }
  .third .inner {
    padding: 0 0 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: start; }
    .third .inner .h1 {
      width: 100%;
      height: 25%;
      display: flex;
      justify-content: start;
      align-items: center; }
      .third .inner .h1 .lion {
        width: 0.85rem;
        height: 0.61rem;
        background: url("../../images/bx-lion.png") center/cover no-repeat; }
      .third .inner .h1 h1 {
        font-size: 0.48rem;
        color: #f50102;
        font-weight: 400;
        font-family: guyue,sans-serif;
        margin-left: 2%; }
    .third .inner .kind {
      width: 104%;
      height: 45%;
      display: flex;
      justify-content: space-between; }
      .third .inner .kind .pay {
        width: 2.32rem;
        height: 100%;
        background: url("../../images/bx-alipy.png") center/cover no-repeat;
        display: flex;
        align-items: flex-end; }
        .third .inner .kind .pay .pay-item-box {
          width: 100%;
          height: 43%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start; }
          .third .inner .kind .pay .pay-item-box .item1 {
            padding-left: 0.1rem;
            font-size: 0.36rem;
            color: #1b1928;
            font-weight: 400;
            font-family: guyue,sans-serif; }
          .third .inner .kind .pay .pay-item-box .item2 {
            width: 100%;
            height: 0.08rem;
            padding: 0.04rem 0;
            background: url("../../images/bx-fen.png") center/cover no-repeat; }
          .third .inner .kind .pay .pay-item-box .item3 {
            padding-left: 0.1rem;
            font-size: 0.3rem;
            color: #666;
            font-weight: 400;
            font-family: guyue,sans-serif; }
      .third .inner .kind .wechat {
        background: url("../../images/bx-wechat.png") center/cover no-repeat; }
      .third .inner .kind .tenpay {
        background: url("../../images/bx-tenpay.png") center/cover no-repeat; }

.footer {
  width: 100%;
  height: 0.96rem;
  background: #020202;
  margin-top: 4.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .footer .chinese {
    font-size: 0.24rem;
    color: #cebfa3;
    font-weight: 400;
    font-family: guyue, sans-serif;
    position: relative; }
    .footer .chinese .yy-parcel {
      width: 0.1rem;
      height: 0.24rem;
      position: absolute;
      right: -108%;
      top: 0; }
      .footer .chinese .yy-parcel img {
        height: 0.24rem; }
  .footer .english {
    font-size: 0.12rem;
    color: #fff;
    font-weight: 300;
    font-family: adob, sans-serif;
    padding-top: 0.05rem; }
