@import "mixin";
@import "font";
$device-list:320px ,360px, 375px,384px,  412px, 414px , 600px, 640px,  750px;
html{
  @each $index in $device-list{
    @media screen and (min-width:$index){
      font-size:100 * ($index/750)
    }
  }
}

*{
  border:0;
  padding:0;
  margin:0;
  list-style:none;
  box-sizing: border-box;
}
$imgs:"../../images/bx-";

body{
  background:url($imgs + 'background.jpg')center/cover repeat;
}



.inner{
  @include cube(100%,100%);
  padding:0 5%;
}

.table{
  @include cube(100%,1.2rem);
  padding-top:0.22rem;
  background:#020202;
  .content{
    @include cube(100%,100%);

    display:flex;
    justify-content:space-between;
    align-items:center;
  }
  .content .go-prev{
    @include circle(0.60rem);
    background:#c6b390;
    @include font(0.3rem,#fff,700);
    text-align: center;
    line-height: 0.6rem;
    font-family: leftp,sans-serif;
    &::before{
      content:'\e60b';
    }
  }
  .content .titleBox{
    @include cube(60%,100%);
    display:flex;
    justify-content:space-between;
    align-items:center;
    .left-r,.right-r{
      @include cube(20%,0.13rem);
      background: url($imgs + 'left.png')center/cover no-repeat;
    }
    .title{
      display: flex;
      flex-direction: column;
      align-items:center;
      justify-content: center;
      flex-wrap: wrap;
      .chinese{
        @include font(0.3rem,#fff,400);
        font-family:guyue,sans-serif;
      }
      .english{
        margin-top:2%;
        @include font(0.18rem,#fff,400);
        font-family:guyue,sans-serif;
      }
    }
    .right-r{
      background:url($imgs + 'right.png')center/cover no-repeat;
    }
  }
}


.pay-kind{
  @include cube(100%,4.42rem);

  .inner{
    display:flex;
    flex-direction: column;
    justify-content:space-around;

  }
  .pay-k{
    @include cube(100%,1.74rem);
    background:url($imgs + 'payment-background1.png')center/cover no-repeat;
    .left-p{
      @include cube(21%,100%);
      //@include bg;
      float: left;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items:center;
      .photo-box{
        @include square(0.8rem);
        background:rgba(242,17,12,0.2);
        border-radius: 10%;
        transform: rotateZ(15deg);
        position: relative;
        img{
          height:0.8rem;
        @include center;
          transform: rotateZ(-15deg);
        }
        .red{
          @include circle(0.29rem);
          transform: rotateZ(-15deg);
          position: absolute;
          right:-30%;
          bottom:5%;
          background:url($imgs + 'red.png')center/cover no-repeat;
        }
      }

      .line{
        @include cube(43%,0.02rem);
        margin-top:10%;
        background: url($imgs + 'small-line.png')center/cover no-repeat;
      }
    }

    .right-c{
      @include cube(79%,100%);
      float: right;
      padding:0.42rem 0;
      .k-title{
        @include cube(100%,100%);
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left:5%;
        .payment-title1{
          font-family: guyue,sans-serif;
          display:flex;
          justify-content: start;
          h2{
            @include font(0.36rem,#c6b390,400);
          }
          .fairBox{
            @include cube(17%,0.34rem);
            margin-left:3%;
            display:flex;
            justify-content: space-between;
            align-items: center;
            li{
              @include cube(23%,0.30rem);
              background:url($imgs + 'fair.png')center/cover no-repeat;
            }
          }
          .num5{
            @include cube(0.3rem,0.34rem);
            margin-left:3%;
            @include font(0.28rem,#f0f0f0,400);
            font-family:guyue,sans-serif;
            text-align:center;
            background:url($imgs + '5.png')center/cover no-repeat;

          }
        }
        .payment-d{
          @include cube(100%,0.04rem);
          background:url($imgs + 'middle-line.png')center left    no-repeat
        }

        .payment-title2{
          @include font(0.24rem,#B1B1AF,400);
          font-family: guyue,sans-serif;
        }
      }
    }
  }
  .pay-ks{
    @include cube(100%,0.1rem);
    background:url($imgs + 'long-line.png')center/cover no-repeat;

  }
}


.third{
  @include cube(100%,6.4rem);

  .inner{
    padding:0 0 0 5%;
    display:flex;
    flex-direction:column;
    justify-content: start;
    .h1{
      @include cube(100%,25%);
      display:flex;
      justify-content: start;
      align-items:center;
      .lion{
        @include cube(0.85rem,0.61rem);

        background: url($imgs + 'lion.png')center/cover no-repeat;
      }
      h1{
        @include font(0.48rem,#f50102,400);
        font-family: guyue,sans-serif;
        margin-left:2%;
      }
    }
    .kind{
      @include cube(104%,45%);
      display:flex;
      justify-content:space-between;
      .pay{
        @include cube(2.32rem,100%);
        background:url($imgs + 'alipy.png')center/cover no-repeat;
        display:flex;
        align-items: flex-end;
        .pay-item-box{
          @include cube(100%,43%);
          display:flex;
          flex-direction:column;
          justify-content: center;
          align-items:flex-start;
          .item1{
            padding-left:0.1rem;
            @include font(0.36rem,#1b1928,400);
            font-family:guyue,sans-serif;
          }
          .item2{
            @include cube(100%,0.08rem);
            padding:0.04rem 0;
            background:url($imgs + 'fen.png')center/cover no-repeat;
          }
          .item3{
            padding-left:0.1rem;
            @include font(0.30rem,#666,400);
            font-family:guyue,sans-serif;
          }
        }



      }
      .wechat{
        background:url($imgs + 'wechat.png')center/cover no-repeat;
      }
      .tenpay{
        background:url($imgs + 'tenpay.png')center/cover no-repeat;
      }
    }
  }
}

.footer{
  @include cube(100%,0.96rem);
  background:#020202;
  margin-top:4.5%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  .chinese{
    @include font(0.24rem,#cebfa3,400);
    font-family: guyue, sans-serif;
    position: relative;
    .yy-parcel{
      @include cube(0.1rem,0.24rem);
      position: absolute;
      right:-108%;top:0;
      img{
        height:0.24rem;
      }

    }
  }
  .english{
    @include font(0.12rem,#fff,300);
    font-family:adob, sans-serif;
    padding-top:0.05rem;
  }

}
