<?php include VIEW.'default/header.html'?>

<link rel="stylesheet" href="<?php echo CSS_PATH?>lxj/index1.css">

<ul class="common">
    <li class=" con con1 dis" style="z-index: 11">
        <div class="content1">
            <p class="content1_row"></p>
        </div>
        <div class="content2">
            <p class="content2_row"></p>
        </div>
        <div class="content_three">
            <div class="content3">
                <p class="con_top0"></p>
                <p class="con_top1"></p>
                <p class="con_top2"></p>
            </div>
            <div class="content_center">
                <p class="page">
                    <i class="page_con"></i>
                </p>
                <p class="yuan"></p>
                <p class="gogo">
                    <a href="index" class="go"></a>
                </p>

            </div>
            <div class="content6">
                <a href="javascript:;" class="con_bot" ></a>
            </div>
        </div>

    </li>
    <li class="con con2" style="z-index: 22">
        <div class="content1">
            <p class="content1_row"></p>
        </div>
        <div class="content2">
            <p class="content2_row"></p>
        </div>
        <div class="content_three">
            <div class="content3">
                <p class="con_top0"></p>
                <p class="con_top1"></p>
                <p class="con_top2"></p>
            </div>
            <div class="content_center">
                <p class="page">
                    <i class="page_con"></i>
                </p>
                <p class="yuan"></p>
                <p class="gogo">
                    <a href="index" class="go"></a>
                </p>
            </div>
            <div class="content6">
                <a href="javascript:;" class="con_bot" ></a>
            </div>
        </div>

    </li>
    <li class="con con3"  style="z-index: 33">
        <div class="content1">
            <p class="content1_row"></p>
        </div>
        <div class="content2">
            <p class="content2_row"></p>
        </div>
        <div class="content_three">
            <div class="content3">
                <p class="con_top0"></p>
                <p class="con_top1"></p>
                <p class="con_top2"></p>
            </div>
            <div class="content_center">
                <p class="page">
                    <i class="page_con"></i>
                </p>
                <p class="yuan"></p>
                <p class="gogo">
                    <a href="index" class="go"></a>
                </p>
            </div>
            <div class="content6">
                <a href="javascript:;" class="con_bot" ></a>
            </div>
        </div>

    </li>
    <li class="con con4 "  style="z-index: 44">
        <div class="content1">
            <p class="content1_row"></p>
        </div>
        <div class="content2">
            <p class="content2_row"></p>
        </div>
        <div class="content_three">
            <div class="content3">
                <p class="con_top0"></p>
                <p class="con_top1"></p>
                <p class="con_top2"></p>
            </div>
            <div class="content_center">
                <p class="page">
                    <i class="page_con"></i>
                </p>
                <p class="yuan"></p>
                <p class="gogo">
                    <a href="index" class="go"></a>
                </p>
            </div>
            <div class="content6">
                <a href="index" class="con_bot" ></a>
            </div>
        </div>

    </li>
</ul>

<?php include VIEW.'default/footer.html'?>

<script src="<?php echo JS_PATH;?>lxj/index.js"></script>