<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="<?php echo CSS_PATH?>wzj_personal_css/follow.css">
    <link rel="stylesheet" href="<?php echo CSS_PATH?>base.css">
</head>
<body>
    <div class="header">
        <div class="table">
            <a href="personal"></a>
        </div>
        <div class="content">
            <div class="headPortrait">
                <div class="info">
                    <div class="left">
                        <a class="edit">
                            <span class="_edit"></span>
                        </a>
                        <img src="<?php echo IMG_PATH?>wzj-touxiang_03.png" alt="">
                    </div>
                    <div class="set">
                        <div class="wrap">
                            <div class="_set">
                                <span>设</span>
                                <span><div class="circle"></div></span>
                                <span>置</span>
                            </div>
                            <span class="en">UANXIAN</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="userName">
                <div class="information">
                    <span class="name">Dora</span>
                    <span class="line"></span>
                    <div class="star"><span></span><span></span><span></span><span></span></div>
                </div>
            </div>
            <div class="autograph">
                <span>美是一种选择，甚至是一种放弃</span>
            </div>
        </div>
    </div>

    <ul class="list">
        <li>
            <div class="head">
                <div class="con">
                    <div class="left">
                        <div class="square"></div>
                        <a href=""><img src="<?php echo IMG_PATH?>wzj-gz1.png" alt=""></a>
                    </div>
                    <img src="<?php echo IMG_PATH?>wzj-gz5.png" alt="">
                </div>
            </div>
            <div class="info">
                <div class="title">
                    <span>米米米</span>
                    <div class="star"><span></span><span></span><span></span><span></span></div>
                </div>
                <div class="engName">
                    <span>M</span><span>ireha</span>
                </div>
                <span style="color:#CECCCC">......................................</span>
                <p style="color:#7E7E7E;padding-top: 0.1rem;font-size: 0.22rem">世界很美，刚好你有空</p>
            </div>
            <span class="dividing_line"></span>
            <div class="isFollow">
                <div class="wrap">
                    <div class="_set">
                        <span>关</span>
                        <span class="dian"><div class="circle"></div></span>
                        <span>注</span>
                    </div>
<!--                    <span class="en">UANXIAN</span>-->
                </div>
            </div>
        </li>
        <li>
            <div class="head">
                <div class="con">
                    <div class="left">
                        <div class="square"></div>
                        <a href="follow_detail"><img src="<?php echo IMG_PATH?>wzj-gz2.png" alt=""></a>
                    </div>
                    <img src="<?php echo IMG_PATH?>wzj-gz5.png" alt="">
                </div>
            </div>
            <div class="info">
                <div class="title">
                    <span>张丽</span>
                    <div class="star"><span></span><span></span><span></span><span></span></div>
                </div>
                <div class="engName">
                    <span>Z</span><span>hangli</span>
                </div>
                <span style="color:#CECCCC">......................................</span>
                <p style="color:#7E7E7E;padding-top: 0.1rem;font-size: 0.22rem;height:0.44rem;line-height: 0.24rem;">只有知道了通往今天的路，我们才能清除而有智地规划未来</p>
            </div>
            <span class="dividing_line"></span>
            <div class="isFollow yes">
                <div class="wrap">
                    <div class="_set">
                        <span>已</span>
                        <span class="dian"><div class="circle"></div></span>
                        <span>关</span>
                        <span class="dian"><div class="circle"></div></span>
                        <span>注</span>
                    </div>
                    <span class="en">UANXIAN</span>
                </div>
            </div>
        </li>
        <li>
            <div class="head">
                <div class="con">
                    <div class="left">
                        <div class="square"></div>
                        <a href=""><img src="<?php echo IMG_PATH?>wzj-gz3.png" alt=""></a>
                    </div>
                    <img src="<?php echo IMG_PATH?>wzj-gz5.png" alt="">
                </div>
            </div>
            <div class="info">
                <div class="title">
                    <span>赵伟</span>
                    <div class="star"><span></span><span></span><span></span><span></span></div>
                </div>
                <div class="engName">
                    <span>Z</span><span>haowei</span>
                </div>
                <span style="color:#CECCCC;padding-top: 0.1rem">......................................</span>
                <p style="color:#7E7E7E;padding-top: 0.1rem;font-size: 0.22rem">有勇气并不表示恐惧不存在，而是敢面对恐惧、客服恐惧</p>
            </div>
            <span class="dividing_line"></span>
            <div class="isFollow">
                <div class="wrap">
                    <div class="_set">
                        <span>关</span>
                        <span class="dian"><div class="circle"></div></span>
                        <span>注</span>
                    </div>
                    <!--                    <span class="en">UANXIAN</span>-->
                </div>
            </div>
        </li>
        <li>
            <div class="head">
                <div class="con">
                    <div class="left">
                        <div class="square"></div>
                        <a href=""><img src="<?php echo IMG_PATH?>wzj-gz4.png" alt=""></a>
                    </div>
                    <img src="<?php echo IMG_PATH?>wzj-gz5.png" alt="">
                </div>
            </div>
            <div class="info">
                <div class="title">
                    <span>李旭华</span>
                    <div class="star"><span></span><span></span><span></span><span></span></div>
                </div>
                <div class="engName">
                    <span>L</span><span>ixuhua</span>
                </div>
                <span style="color:#CECCCC">......................................</span>
                <p style="color:#7E7E7E;padding-top: 0.1rem;font-size: 0.22rem">世界很美，刚好你有空</p>
            </div>
            <span class="dividing_line"></span>
            <div class="isFollow">
                <div class="wrap">
                    <div class="_set">
                        <span>关</span>
                        <span class="dian"><div class="circle"></div></span>
                        <span>注</span>
                    </div>
                    <!--                    <span class="en">UANXIAN</span>-->
                </div>
            </div>
        </li>
    </ul>
</body>
</html>