<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="<?php echo CSS_PATH?>wzj_personal_css/follow_detail.css">
    <link rel="stylesheet" href="<?php echo CSS_PATH?>base.css">
    <title>Document</title>
</head>
<body>
<div class="header">
    <div class="table">
        <a href="follow" ></a>
        <a href="#" ></a>
    </div>
    <div class="content">
        <div class="headPortrait">
            <div class="info">
                <div class="left">
                    <a class="edit">
                        <span class="_edit"></span>
                    </a>
                    <img src="<?php echo IMG_PATH?>wzj-follow-tx.png" alt="">
                </div>
                <div class="set">
                    <div class="wrap">
                        <div class="_set">
                            <span>已</span>
                            <span><div class="circle"></div></span>
                            <span>关</span>
                            <span><div class="circle"></div></span>
                            <span>注</span>
                        </div>
                        <span class="en">UANXIAN</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="userName">
            <div class="information">
                <span class="name">Dora</span>
                <span class="line"></span>
                <div class="star"><span></span><span></span><span></span><span></span></div>
            </div>
        </div>
        <div class="autograph">
            <span>美是一种选择，甚至是一种放弃</span>
        </div>
    </div>
</div>

<div class="my">
    <div class="mys">
        <div class="row">
            <a href="follow" class="widths follow">
                <div class="left">
                    <img src="<?php echo IMG_PATH?>wzj-follow.png" alt="">
                </div>
                <div class="right">
                    <div class="common">
                        <div class="_common">
                            <span>关注</span>
                            <img src="<?php echo IMG_PATH?>wzj.png" alt="">
                        </div>
                        <div class="eng"><span></span><span>FO</span><span>LLOW</span><span></span></div>
                        <span class="num">3659</span>
                    </div>
                </div>
            </a>
            <a href="" class="widths collection">
                <div class="left">
                    <img src="<?php echo IMG_PATH?>wzj-collection.png" alt="">
                </div>
                <div class="right">
                    <div class="common">
                        <div class="_common">
                            <span>收藏</span>
                            <img src="<?php echo IMG_PATH?>wzj.png" alt="">
                        </div>
                        <div class="eng"><span></span><span>COL</span><span>ATION</span><span></span></div>
                        <span class="num">3359</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="row">
            <a href="" class="widths friends">
                <div class="left">
                    <img src="<?php echo IMG_PATH?>wzj-friends.png" alt="">
                </div>
                <div class="right">
                    <div class="common">
                        <div class="_common">
                            <span>好友</span>
                            <img src="<?php echo IMG_PATH?>wzj.png" alt="">
                        </div>
                        <div class="eng"><span></span><span>FR</span><span>IEND</span><span></span></div>
                        <span class="num">659</span>
                    </div>
                </div>
            </a>
            <a href="" class="widths dynamic">
                <div class="left">
                    <img src="<?php echo IMG_PATH?>wzj-dynamic.png" alt="">
                </div>
                <div class="right">
                    <div class="common">
                        <div class="_common">
                            <span>动态</span>
                            <img src="<?php echo IMG_PATH?>wzj.png" alt="">
                        </div>
                        <div class="eng"><span></span><span>DYN</span><span>AMIC</span><span></span></div>
                        <span class="num">359</span>
                    </div>
                </div>
                <div class="plus">+3</div>
            </a>
        </div>
    </div>
</div>

<div class="footer_table">
    <div class="inner">
        <div class="content">
            <a href="#" class="foot">
                <div class="con">
                    <span class="title">特别关注</span>
                    <img src="<?php echo IMG_PATH?>yy-parcel-footer-bg.png" alt="">
                    <span class="en">HUOD ONGTUIGIAN</span>
                </div>
                <div class="img"></div>
            </a>
            <a href="/index.php/index/tell" class="foot">
                <div class="con">
                    <span class="title current">聊一聊</span>
                    <img src="<?php echo IMG_PATH?>yy-parcel-footer-bg.png" alt="">
                    <span class="en">HUOD ONGTUIGIAN</span>
                </div>
            </a>
        </div>
    </div>
</div>
</body>
</html>