<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="<?php echo CSS_PATH?>wzj_personal_css/personal.css">
    <link rel="stylesheet" href="<?php echo CSS_PATH?>base.css">
</head>
<body>
    <div class="header">
        <div class="content">
            <div class="headPortrait">
                <div class="info">
                    <div class="left">
                        <a class="edit">
                            <span class="_edit"></span>
                        </a>
                        <img src="<?php echo IMG_PATH?>wzj-touxiang_03.png" alt="">
                    </div>
                    <div class="set">
                        <div class="wrap">
                            <div class="_set">
                                <span>设</span>
                                <span><div class="circle"></div></span>
                                <span>置</span>
                            </div>
                            <span class="en">UANXIAN</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="userName">
                <div class="information">
                    <span class="name">Dora</span>
                    <span class="line"></span>
                    <div class="star"><span></span><span></span><span></span><span></span></div>
                </div>
            </div>
            <div class="autograph">
                <span>美是一种选择，甚至是一种放弃</span>
            </div>
        </div>
    </div>

    <div class="my">
        <div class="mys">
            <div class="row">
                <a href="follow" class="widths follow">
                    <div class="left">
                        <img src="<?php echo IMG_PATH?>wzj-follow.png" alt="">
                    </div>
                    <div class="right">
                        <div class="common">
                            <div class="_common">
                                <span>关注</span>
                                <img src="<?php echo IMG_PATH?>wzj.png" alt="">
                            </div>
                            <div class="eng"><span></span><span>FO</span><span>LLOW</span><span></span></div>
                            <span class="num">3659</span>
                        </div>
                    </div>
                </a>
                <a href="" class="widths collection">
                    <div class="left">
                        <img src="<?php echo IMG_PATH?>wzj-collection.png" alt="">
                    </div>
                    <div class="right">
                        <div class="common">
                            <div class="_common">
                                <span>收藏</span>
                                <img src="<?php echo IMG_PATH?>wzj.png" alt="">
                            </div>
                            <div class="eng"><span></span><span>COL</span><span>ATION</span><span></span></div>
                            <span class="num">3359</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="row">
                <a href="" class="widths friends">
                    <div class="left">
                        <img src="<?php echo IMG_PATH?>wzj-friends.png" alt="">
                    </div>
                    <div class="right">
                        <div class="common">
                            <div class="_common">
                                <span>好友</span>
                                <img src="<?php echo IMG_PATH?>wzj.png" alt="">
                            </div>
                            <div class="eng"><span></span><span>FR</span><span>IEND</span><span></span></div>
                            <span class="num">659</span>
                        </div>
                    </div>
                </a>
                <a href="" class="widths dynamic">
                    <div class="left">
                        <img src="<?php echo IMG_PATH?>wzj-dynamic.png" alt="">
                    </div>
                    <div class="right">
                        <div class="common">
                            <div class="_common">
                                <span>动态</span>
                                <img src="<?php echo IMG_PATH?>wzj.png" alt="">
                            </div>
                            <div class="eng"><span></span><span>DYN</span><span>AMIC</span><span></span></div>
                            <span class="num">359</span>
                        </div>
                    </div>
                    <div class="plus">+3</div>
                </a>
            </div>
        </div>
    </div>

    <img src="<?php echo IMG_PATH?>wzj-fgx.png" alt="" style="width:7.02rem;margin:0 auto;display: block">

    <div class="main">
        <div class="_main">
            <div class="left">
                <div class="square"></div>
                <img src="<?php echo IMG_PATH?>wzj-order.png" alt="">
            </div>
            <div class="right">
                <div class="content">
                    <div class="title">
                        <h3>我的订单</h3>
                        <span></span>
                        <div class="english"><span>MY </span><span>ORDER</span></div>
                    </div>
                    <div class="arrow">  </div>
                </div>
            </div>
        </div>
        <div class="_main">
            <div class="left">
                <div class="square"></div>
                <img src="<?php echo IMG_PATH?>wzj-wallet.png" alt="">
            </div>
            <div class="right">
                <div class="content">
                    <div class="title">
                        <h3>我的钱包</h3>
                        <span></span>
                        <div class="english"><span>MY </span><span>WALLET</span></div>
                    </div>
                    <div class="arrow"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer"></div>

</body>
</html>