<?php include VIEW . 'default/header.html'?>
<link rel="stylesheet" href="<?php echo CSS_PATH?>wzj_personal_css/set.css">
<link rel="stylesheet" href="<?php echo CSS_PATH?>base.css">

    <div class="table">
        <div class="inner">
            <div class="content">
                <a href="/index.php/index/personal" class="go-prev"></a>
                <ul class="titleBox">
                    <li class="left-r"></li>
                    <li class="title">
                        <span class="chinese">设置</span>
                        <span class="english"><span style="color:#F80807;font-size:0.26rem">SET</span>TING UP</span>
                    </li>
                    <li class="right-r"></li>
                </ul>
                <div></div>
            </div>
        </div>
    </div>

    <div class="set-kind">
        <div class="inner">
            <div class="kind-warp">
                <div class="kind">
                    <div class="con">
                        <span class="chinese">消息通知</span>
                        <span class="english">
                        <span style="color:#F12724">MES</span>SAGE NOTIFICATION
                    </span>
                    </div>
                </div>
                <div class="kind">
                    <div class="con">
                        <span class="chinese">聊天记录</span>
                        <span class="english">
                        <span style="color:#F12724">CHA</span>T RECORD
                    </span>
                    </div>
                </div>
                <div class="kind">
                    <div class="con">
                        <span class="chinese">账号安全</span>
                        <span class="english">
                        <span style="color:#F12724">ACC</span>OUNT SECURIT
                    </span>
                    </div>
                </div>
                <div class="kind">
                    <div class="con">
                        <span class="chinese">联系人、隐私</span>
                        <span class="english">
                        <span style="color:#F12724">CON</span>TACTS PRIVACY
                    </span>
                    </div>
                </div>
                <div class="kind">
                    <div class="con">
                        <span class="chinese">辅助功能</span>
                        <span class="english">
                        <span style="color:#F12724">AUX</span>ILIARY FUNCTION
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="foot">
        <div class="help">
            <div class="ch">关于初寻与帮助</div>
            <div class="pic"></div>
            <div class="en">EARLY FIND HELP</div>
            <div class="mask"></div>
        </div>
    </div>

<?php include VIEW . 'default/footer.html'?>