<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="<?php echo CSS_PATH?>base.css">
    <link rel="stylesheet" href="<?php echo CSS_PATH?>wzj_personal_css/tell.css">
</head>
<body>
    <div class="table">
    <div class="inner">
        <div class="content">
            <a href="/index.php/index/follow_detail" class="go-prev"></a>
            <ul class="titleBox">
                <li class="title">
                    <span class="chinese">Dora</span>
                    <span class="line"></span>
                    <span class="english" style="color:#C6B390;">美是一种选择，甚至是一种放弃</span>
                </li>
            </ul>
            <a href="#" class="people"></a>
        </div>
    </div>
</div>
    <div class="tellWindows">
        <div class="inner">
            <div class="tell_window">
                <div class="con">
                    <div class="doing friends">
                        <div class="head"><img src="<?php echo IMG_PATH?>wzj-follow-tx.png" alt=""></div>
                        <div class="cont">
                            <div class="talk">
                                <div class="name"><span>D</span><span>ora</span></div>
                                <div class="date"><span></span><span></span><span></span></div>
                                <div></div>
                                <div><p></p></div>
                            </div>
                        </div>
                    </div>
                    <div class="doing me"></div>
                    <div class="time"></div>
                    <div class="doing friends">
                        <div class="head"><img src="<?php echo IMG_PATH?>wzj-follow-tx.png" alt=""></div>
                        <div class="cont"></div>
                    </div>
                    <div class="doing friends">
                        <div class="head"><img src="<?php echo IMG_PATH?>wzj-follow-tx.png" alt=""></div>
                        <div class="cont"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>