<?php include VIEW.'default/header.html'?>
<link rel="stylesheet" href="<?php echo CSS_PATH?>trip/exclusive.css">
<article class="parcel">
    <header class="parcel-tag parcel-header">
        <article>
            <div class="table">
                <div class="inner">
                    <div class="content">
                        <ul class="titleBox">
                            <li class="left-r"></li>
                            <li class="title">
                                <span class="chinese">专属定制</span>
                                <span class="english"><span style="color:#F80807;">EXC</span>LUSIVE CUSTOMIZATION</span>
                            </li>
                            <li class="right-r"></li>
                        </ul>
                        <div class="go-prev">
                            <a href="/index.php/index/adjust_route">
                                <span></span>
                            </a>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
        </article>
    </header>
    <div class="parcel-tag parcel-main">
        <div class="parcel-main-map">
            <img src="<?php echo IMG_PATH?>yy-map-loc.png" alt="">
            <div class="parcel-main-map-btn-parcel">
                <button>
                    <div class="map-btn btn-mag"></div>
                </button>
                <button>
                    <div class="map-btn btn-nar"></div>
                </button>
                <button>
                    <span>N</span>

                    <div class="map-btn btn-pos"></div>
                </button>
            </div>
            <div class="parcel-main-map-scale-parcel">
                <span class="parcel-main-map-prop">500m</span>

                <div class="parcel-main-map-scale">
                    <i class="parcel-main-map-scale-line"></i>
                </div>
            </div>
            <ul class="parcel-main-map-bourn-parcel">
                <li class="parcel-main-map-bourn"></li>
                <li class="parcel-main-map-bourn"></li>
                <li class="parcel-main-map-bourn"></li>
            </ul>
        </div>
        <div class="parcel-main-route">
            <div class="parcel-main-route-item-box">
                <div class="parcel-main-route-item">
                    <div class="parcel-main-route-item-text">
                        <div class="parcel-main-route-item-text-content">
                            <div class="parcel-main-route-item-text-title">
                                <h2><strong>北京3日游</strong></h2>
                                <p><span>58%</span>初次访问的旅友会选择这条线路</p>
                            </div>
                            <div class="parcel-main-route-item-text-main">
                                <p><span>车程7小时</span> <span class="line">|</span><span>人均600元起</span></p>
                                <h2>CHINA'S PALACE</h2>
                            </div>
                        </div>
                    </div>
                    <div class="parcel-main-route-item-img">
                        <img src="<?php echo IMG_PATH?>yy-amp-route-1.png" alt="">
                    </div>
                    <a href="/index.php/index/my_trip" class="parcel-main-route-item-btn"></a>
                </div>
                <div class="parcel-main-route-item active">
                    <div class="parcel-main-route-item-text">
                        <div class="parcel-main-route-item-text-content">
                            <div class="parcel-main-route-item-text-title">
                                <h2><strong>北京3日游</strong></h2>
                                <p><span>58%</span>初次访问的旅友会选择这条线路</p>
                            </div>
                            <div class="parcel-main-route-item-text-main">
                                <p><span>车程7小时</span> <span class="line">|</span><span>人均600元起</span></p>
                                <h2>CHINA'S PALACE</h2>
                            </div>
                        </div>
                    </div>
                    <div class="parcel-main-route-item-img">
                        <img src="<?php echo IMG_PATH?>yy-amp-route-2.png" alt="">
                    </div>
                    <a href="/index.php/index/my_trip" class="parcel-main-route-item-btn"></a>
                </div>
                <div class="parcel-main-route-item">
                    <div class="parcel-main-route-item-text">
                        <div class="parcel-main-route-item-text-content">
                            <div class="parcel-main-route-item-text-title">
                                <h2><strong>北京3日游</strong></h2>
                                <p><span>58%</span>初次访问的旅友会选择这条线路</p>
                            </div>
                            <div class="parcel-main-route-item-text-main">
                                <p><span>车程7小时</span> <span class="line">|</span><span>人均600元起</span></p>
                                <h2>CHINA'S PALACE</h2>
                            </div>
                        </div>
                    </div>
                    <div class="parcel-main-route-item-img">
                        <img src="<?php echo IMG_PATH?>yy-amp-route-1.png" alt="">
                    </div>
                    <a href="/index.php/index/my_trip" class="parcel-main-route-item-btn"></a>
                </div>
            </div>
        </div>
    </div>
</article>
<?php include VIEW.'default/footer.html'?>