<?php include VIEW.'default/header.html'?>
<link rel="stylesheet" href="<?php echo CSS_PATH?>trip/my_trip.css">
<article class="parcel">

    <header class="parcel-tag parcel-header">
        <article>
            <div class="table">
                <div class="inner">
                    <div class="content">
                        <ul class="titleBox">
                            <li class="left-r"></li>
                            <li class="title">
                                <span class="chinese">我的行程</span>
                                <span class="english"><span style="color:#F80807;">MY</span> TRIP</span>
                            </li>
                            <li class="right-r"></li>
                        </ul>
                        <div class="go-prev">
                            <a href="/index.php/index/exclusive">
                                <span></span>
                            </a>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
        </article>
    </header>

    <div class="parcel-tag parcel-main">
        <article>

            <div class="parcel-main-map-parcel">
                <div class="parcel-main-map-ad">
                    <div class="parcel-main-map-ad-box">
                        <div class="dot"></div>
                        <span class="sight-spot">北</span>

                        <div class="dot"></div>
                        <span class="sight-spot">京</span>

                        <div class="dot"></div>
                        <span class="active-time">3</span>

                        <div class="dot"></div>
                        <span class="active-time">日</span>

                        <div class="dot"></div>
                        <span class="active-time">游</span>

                        <div class="dot"></div>
                    </div>
                    <div class="parcel-main-map-parcel-title">
                        <div class="label">车程7小时</div>
                        <div class="label">人均600元起</div>
                        <div class="label">5个景区</div>
                        <div class="label">3天</div>
                    </div>
                </div>
                <div class="parcel-main-map">
                    <img src="<?php echo IMG_PATH?>yy-banner.png" alt="">

                    <div class="parcel-main-map-btn-parcel">
                        <button>
                            <div class="map-btn btn-mag"></div>
                        </button>
                        <button>
                            <div class="map-btn btn-nar"></div>
                        </button>
                        <button>
                            <span>N</span>

                            <div class="map-btn btn-pos"></div>
                        </button>
                    </div>
                    <div class="parcel-main-map-scale-parcel">
                        <span class="parcel-main-map-prop">500m</span>

                        <div class="parcel-main-map-scale">
                            <i class="parcel-main-map-scale-line"></i>
                        </div>
                    </div>
                    <ul class="parcel-main-map-bourn-parcel">
                        <li class="parcel-main-map-bourn"></li>
                        <li class="parcel-main-map-bourn"></li>
                        <li class="parcel-main-map-bourn"></li>
                    </ul>
                </div>
            </div>

            <div class="parcel-main-scenic-parcel">

                <div class="parcel-main-scenic">
                    <div class="parcel-main-scenic-adjust-parcel">
                        <div class="parcel-main-scenic-logo">
                            <div class="parcel-main-scenic-logo-img">
                                <img src="<?php echo IMG_PATH?>yy-header-pro.png" alt="">
                            </div>
                            <div class="parcel-main-scenic-logo-top">
                                <span>ONE</span>
                            </div>
                        </div>
                        <div class="parcel-main-scenic-logo-text">
                            <h3>第一天</h3>
                            <div class="line">
                                <s></s>
                            </div>
                            <span>FRISTDAY</span>
                        </div>
                    </div>
                    <ul class="parcel-main-scenic-adjust-list">
                        <li class="parcel-main-scenic-adjust-item">
                            <div class="parcel-main-scenic-adjust-item-parcel-img">
                                <div class="parcel-main-scenic-adjust-item-img">
                                    <img src="<?php echo IMG_PATH?>yy-adjust-item-DUANQIAO.png" alt="">
                                </div>
                            </div>
                            <div class="parcel-main-scenic-adjust-item-text">
                                <div class="item-title">
                                    <h2 class="parcel-main-scenic-adjust-item-text-title">断桥残雪</h2>
                                    <span class="parcel-main-scenic-adjust-item-text-time">（30分钟）</span>
                                </div>
                                <h3 class="parcel-main-scenic-adjust-item-text-subtitle"><span>DU</span>ANQIAOCANXUE
                                </h3>
                                <s class="parcel-main-scenic-adjust-item-text-line">
                                    <i class="parcel-main-scenic-adjust-item-text-point"></i>
                                </s>

                                <p>断桥残雪是西湖上著名的景色，以雪时远观桥面若隐若现于湖面而称著。</p>
                            </div>
                        </li>
                        <li class="parcel-main-scenic-adjust-item">
                            <div class="parcel-main-scenic-adjust-item-parcel-img">
                                <div class="parcel-main-scenic-adjust-item-img">
                                    <img src="<?php echo IMG_PATH?>yy-adjust-item-BAIDI.png" alt="">
                                </div>
                            </div>
                            <div class="parcel-main-scenic-adjust-item-text">
                                <div class="item-title">
                                    <h2 class="parcel-main-scenic-adjust-item-text-title">白堤</h2>
                                    <span class="parcel-main-scenic-adjust-item-text-time">（30分钟）</span>
                                </div>
                                <h3 class="parcel-main-scenic-adjust-item-text-subtitle"><span>BA</span>IDI</h3>
                                <s class="parcel-main-scenic-adjust-item-text-line">
                                    <i class="parcel-main-scenic-adjust-item-text-point"></i>
                                </s>

                                <p>杭州市区与风景区相连的纽带，西湖三堤的精华所在，适合拍照的地方</p>
                            </div>
                        </li>
                        <li class="parcel-main-scenic-adjust-item">
                            <div class="parcel-main-scenic-adjust-item-parcel-img">
                                <div class="parcel-main-scenic-adjust-item-img">
                                    <img src="<?php echo IMG_PATH?>yy-adjust-item-PENGQUAN.png" alt="">
                                </div>
                            </div>
                            <div class="parcel-main-scenic-adjust-item-text">
                                <div class="item-title">
                                    <h2 class="parcel-main-scenic-adjust-item-text-title">西湖音乐喷泉</h2>
                                    <span class="parcel-main-scenic-adjust-item-text-time">（30分钟）</span>
                                </div>
                                <h3 class="parcel-main-scenic-adjust-item-text-subtitle"><span>XI</span>HUYINYUEPENQUAN
                                </h3>
                                <s class="parcel-main-scenic-adjust-item-text-line">
                                    <i class="parcel-main-scenic-adjust-item-text-point"></i>
                                </s>

                                <p>
                                    断桥残雪是西湖上著名的景色，以雪时远观桥面若隐若现于湖面而称著。
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </article>
    </div>

    <footer class="parcel-tag parcel-footer">
        <article>
            <a href="/index.php/index/write">
                <span class="parcel-footer-reservations-ch">立即预定</span>
                <span class="parcel-footer-reservations-en">HUODNGTUIJIAN</span>
                <s>11</s>
            </a>
        </article>
    </footer>

</article>
<?php include VIEW.'default/footer.html'?>