@charset "UTF-8";
@import url(../base.css);
@import url(../bootstrap.min.css);
/*函数*/
/*@function bg(){
	$r:floor(random()*56+200);
	$g:floor(random()*56);
	$b:floor(random()*56);
	$color:rgb($r,$g,$b);
	@debug $color;  
	@return $color;
}*/
@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media screen and (min-width: 365px) {
  html {
    font-size: 48.66667px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media screen and (min-width: 384px) {
  html {
    font-size: 51.2px; } }

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

@media screen and (min-width: 600px) {
  html {
    font-size: 80px; } }

@media screen and (min-width: 750px) {
  html {
    font-size: 100px; } }

@media screen and (min-width: 933px) {
  html {
    font-size: 124.4px; } }

body {
  font-size: 16px; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  height: 100%;
  background: url("../../images/xiao1.png") center/cover no-repeat; }

.headerTop {
  width: 100%;
  height: 1.57rem;
  position: relative; }
  .headerTop .headerInfo {
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0; }
  .headerTop .headerCon {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    top: 0; }
  .headerTop .searchWrap {
    width: 100%;
    height: 0.62rem;
    position: absolute;
    bottom: -25%; }
    .headerTop .searchWrap .boxWrap {
      width: 94%;
      height: 100%;
      position: absolute;
      left: 0.24rem; }
    .headerTop .searchWrap .searchBox {
      width: 100%;
      height: 100%;
      background: #fff;
      border: 1px solid #58585a;
      border-radius: 0.1rem;
      position: absolute;
      top: 0;
      left: 0;
      text-align: left;
      padding-left: 1rem;
      color: #999999;
      font-family: f, sans-serif;
      font-size: 0.24rem; }
    .headerTop .searchWrap .searchBut {
      display: inline-block;
      width: 0.36rem;
      height: 0.36rem;
      background: url("../../images/xiaosearch_03.png") center/cover no-repeat;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 0.23rem; }
    .headerTop .searchWrap .micBut {
      display: inline-block;
      width: 0.36rem;
      height: 0.36rem;
      background: url("../../images/xiaomic_03.png") center/cover no-repeat;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      right: 0.23rem; }

.headerCon .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 94%;
  height: 100%;
  margin: 0 auto; }

.headerCon .moreBut {
  width: 0.62rem;
  height: 0.62rem; }
  .headerCon .moreBut a {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url("../../images/xiaomore_03.png") center/cover no-repeat; }

.headerCon .titleBox {
  width: 38%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .headerCon .titleBox .left-r, .headerCon .titleBox .right-r {
    width: 0.51rem;
    height: 0.13rem;
    background: url("../../images/xiaoleft.png") center/cover no-repeat; }
  .headerCon .titleBox .title {
    width: 2rem;
    height: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .headerCon .titleBox .title .chinese {
      font-size: 0.3rem;
      color: #fff;
      font-weight: 400;
      font-family: '宋体',sans-serif; }
    .headerCon .titleBox .title .english {
      margin-top: 2%;
      text-align: center;
      font-size: 0.18rem;
      color: #fff;
      font-weight: 400;
      font-family: '苹方',sans-serif; }
  .headerCon .titleBox .right-r {
    background: url("../../images/xiaoright.png") center/cover no-repeat; }

.headerCon .mapBut {
  width: 0.62rem;
  height: 0.62rem; }
  .headerCon .mapBut a {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url("../../images/xiaomap_03.png") center/cover no-repeat; }

.card {
  width: 100%;
  height: auto;
  margin: 0.8rem 0 0; }
  .card .card-inner {
    width: 97%;
    height: 100%;
    margin: 0 3% 0;
    overflow: hidden; }
  .card .card-max-inner {
    width: 108%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .card .card-common {
    width: 1.85rem;
    height: 3.06rem;
    margin-right: 0.1rem;
    position: relative;
    display: flex;
    justify-content: center; }
  .card .card-common.card-1 {
    background: url("../../images/xiaocard1_03.png") center/cover no-repeat; }
  .card .card-common.card-2 {
    background: url("../../images/xiaocard2_03.png") center/cover no-repeat; }
  .card .card-common.card-3 {
    background: url("../../images/xiaocard3_03.png") center/cover no-repeat; }
  .card .card-common.card-4 {
    background: url("../../images/xiaocard4_03.png") center/cover no-repeat; }
  .card .card-1-inner {
    width: 0.7rem;
    height: 1.6rem;
    margin: 0.2rem 0;
    display: flex;
    justify-content: center;
    align-items: center; }
  .card .card-transit {
    width: 0.06rem;
    height: 0.86rem;
    background: url("../../images/yd-card-transit.png") center no-repeat;
    background-size: 100%; }
  .card .card-left {
    margin-right: 0.08rem;
    width: 50%; }
    .card .card-left span {
      display: block;
      width: 0.02rem;
      font-size: 0.27rem;
      line-height: 1; }
  .card .card-right {
    width: 0.1rem;
    line-height: 1; }
    .card .card-right span {
      display: block;
      font-size: 0.1rem;
      height: 0.15rem; }
      .card .card-right span:nth-child(1), .card .card-right span:nth-child(2) {
        color: #e62923; }
  .card .card-img {
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    position: absolute;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    bottom: -45%;
    background: url("../../images/yd-pic.png") center no-repeat;
    overflow: hidden; }
  .card .lunbo-2 {
    background: url("../../images/lunbo-2.png") center no-repeat;
    background-size: 100%; }
  .card .lunbo-3 {
    background: url("../../images/lunbo-3.png") center no-repeat;
    background-size: 100%; }

.historyBox {
  width: 100%;
  height: 1rem;
  margin: 0.2rem 0; }
  .historyBox .inner {
    width: 93%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
  .historyBox .historySearch {
    width: 1.7rem;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
    .historyBox .historySearch h3 {
      margin: 0;
      width: 100%; }
    .historyBox .historySearch .the {
      color: #ffffff;
      font-size: 0.22rem; }
    .historyBox .historySearch .xuan {
      color: #e3b08b;
      font-size: 0.22rem; }
    .historyBox .historySearch .HistoryText {
      color: #ffffff;
      font-size: 0.28rem; }
      .historyBox .historySearch .HistoryText span:nth-child(3), .historyBox .historySearch .HistoryText span:nth-child(4) {
        display: inline-block;
        width: 0.07rem;
        height: 0.07rem;
        border-radius: 50%;
        background: #e62923;
        margin-left: 0.04rem; }
    .historyBox .historySearch .circle {
      display: flex; }
      .historyBox .historySearch .circle span {
        display: inline-block;
        margin-right: 0.05rem;
        width: 0.04rem;
        height: 0.04rem;
        border-radius: 50%;
        background: #fff; }
        .historyBox .historySearch .circle span:nth-child(1), .historyBox .historySearch .circle span:nth-child(10) {
          background: #e62923; }
  .historyBox .historyChange {
    width: 1.2rem;
    height: 0.45rem;
    background: url("../../images/xiaochange_03.png") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.24rem; }
    .historyBox .historyChange a {
      color: #ffffff;
      text-decoration: none; }
  .historyBox .level {
    width: 3.7rem;
    height: 0.04rem;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .historyBox .level span {
      display: inline-block; }
      .historyBox .level span:nth-child(2) {
        width: 3.63rem;
        height: 0.015rem;
        background: #c6b390; }
      .historyBox .level span:nth-child(1), .historyBox .level span:nth-child(3) {
        width: 0.06rem;
        height: 0.06rem;
        border-radius: 50%;
        background: #e62923; }

.hotSearch {
  width: 100%;
  height: 6.08rem; }
  .hotSearch .inner {
    width: 93%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 0.25rem; }
    .hotSearch .inner .zhujia, .hotSearch .inner .shaoxing {
      width: 100%;
      height: 1.7rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap; }
    .hotSearch .inner .zhujiaImg {
      width: 1.88rem;
      height: 100%;
      background: url("../../images/xiaozhuj_03.png") center/contain no-repeat; }
    .hotSearch .inner .shaoxingImg {
      width: 1.88rem;
      height: 100%;
      background: url("../../images/xiaoshao_03.png") center/contain no-repeat; }
    .hotSearch .inner .introduce {
      width: 5.09rem;
      height: 100%;
      background: url("../../images/xiaointroduce_03.png") center/contain no-repeat;
      padding: 0.1rem 0.2rem; }
      .hotSearch .inner .introduce p {
        width: 100%;
        height: 0.32rem; }
      .hotSearch .inner .introduce .title {
        font-size: 0.28rem; }
      .hotSearch .inner .introduce .dian {
        display: flex;
        align-items: center;
        height: 0.2rem; }
        .hotSearch .inner .introduce .dian span {
          display: inline-block;
          width: 0.05rem;
          height: 0.05rem;
          border-radius: 50%;
          background: #cfcfcf;
          margin-right: 0.06rem; }
      .hotSearch .inner .introduce .english, .hotSearch .inner .introduce .intro {
        font-size: 0.2rem; }
