@import "../base.css";
@import "../bootstrap.min.css";
@import "../mixin";
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}
body{
  @include cube(100%,100%);
  background: url("../../images/xiao1.png")center/cover no-repeat;
}
.headerTop{
  @include cube(100%,1.57rem);
  position: relative;
  .headerInfo{
    @include cube(100%,100%);
    background: #000000;
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
  }
  .headerCon{
    @include cube(100%,100%);
    margin: 0 auto;
    position: absolute;
    left: 0;
    top: 0;
  }
  .searchWrap{
    @include cube(100%,0.62rem);
    position: absolute;
    bottom: -25%;
    .boxWrap{
      @include cube(94%,100%);
      position: absolute;
    }
    .searchBox{
      @include cube(100%,100%);
      background: #fff;
      border: 1px solid #58585a;
      border-radius: 0.1rem;
      position: absolute;
      top: 0;
      left: 0;
      text-align: left;
      padding-left: 1rem;
      color: #999999;
      font-family: f, sans-serif;
      font-size: 0.24rem;
    }
    .searchBut{
      display: inline-block;
      @include square(0.36rem);
      background: url("../../images/xiaosearch_03.png")center/cover no-repeat;
      @include tb;
      left: 0.23rem;
    }
    .micBut{
      display: inline-block;
      @include square(0.36rem);
      background: url("../../images/xiaomic_03.png")center/cover no-repeat;
      @include tb;
      right: 0.23rem;
    }
  }
}
$imgs:"../../images/";
.headerCon{
  .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include cube(94%,100%);
    margin: 0 auto;
  }
  .moreBut{
    @include square(0.62rem);
    a{
      display: inline-block;
      @include cube(100%,100%);
      background: url("../../images/xiaomore_03.png")center/cover no-repeat;
    }
  }
  .titleBox{
    @include cube(38%,100%);
    display:flex;
    justify-content:space-between;
    align-items:center;
    .left-r,.right-r{
      @include cube(0.51rem,0.13rem);
      background: url($imgs + 'xiaoleft.png')center/cover no-repeat;
    }
    .title{
      @include cube(2rem,0.8rem);
      display: flex;
      flex-direction: column;
      align-items:center;
      justify-content: center;
      .chinese{
        @include font(0.3rem,#fff,400);
        font-family:'宋体',sans-serif;
      }
      .english{
        margin-top:2%;
        text-align: center;
        @include font(0.18rem,#fff,400);
        font-family:'苹方',sans-serif;
      }
    }
    .right-r{
      background:url($imgs + 'xiaoright.png')center/cover no-repeat;
    }
  }
  .mapBut{
    @include square(0.62rem);
    a{
      display: inline-block;
      @include cube(100%,100%);
      background: url("../../images/xiaomap_03.png")center/cover no-repeat;
    }
  }
}
.card{
  @include cube(100%,auto);
  margin: 0.5rem 0 0;
  .card-inner{
    @include cube(97%,100%);
    margin: 0 3% 0;
    overflow: hidden;
  }
  .card-max-inner{
    @include cube(108%,100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .card-common{
    @include cube(1.85rem,3.06rem);
    margin-right:0.1rem;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .card-common.card-1{
    background: url($imgs + 'xiaocard1_03.png')center/cover no-repeat;
  }
  .card-common.card-2{
    background: url($imgs + 'xiaocard2_03.png')center/cover no-repeat;
  }
  .card-common.card-3{
    background: url($imgs + 'xiaocard3_03.png')center/cover no-repeat;
  }
  .card-common.card-4{
    background: url($imgs + 'xiaocard4_03.png')center/cover no-repeat;
  }
  .card-1-inner{
    @include cube(0.70rem,1.6rem);
    margin:0.2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-transit{
    @include cube(0.06rem,0.86rem);
    background:url($imgs + 'yd-card-transit.png')center no-repeat;
    background-size:100%;
  }
  .card-left{
    margin-right: 0.08rem;
    width:50%;
    span{
      display: block;
      width:0.02rem;
      font-size: 0.27rem;
      line-height: 1;
    }
  }
  .card-right {
    width:0.1rem;
    line-height: 1;
    span{
      display:block;
      font-size:0.1rem ;
      height: 0.15rem;
      &:nth-child(1),&:nth-child(2){
        color: #e62923;
      }
    }
  }
  .card-img{
    @include square(1.3rem);
    border-radius: 50%;
    position: absolute;
    @include center();
    bottom:-45%;
    background:url($imgs + 'yd-pic.png')center no-repeat;
    overflow: hidden;
  }
  .lunbo-2{
    background: url($imgs + 'lunbo-2.png')center no-repeat;
    background-size:100%;
  }
  .lunbo-3{
    background: url($imgs + 'lunbo-3.png')center no-repeat;
    background-size:100%;
  }
}