@charset "UTF-8";
@import url(../base.css);
@import url(../bootstrap.min.css);
/*函数*/
/*@function bg(){
	$r:floor(random()*56+200);
	$g:floor(random()*56);
	$b:floor(random()*56);
	$color:rgb($r,$g,$b);
	@debug $color;  
	@return $color;
}*/
@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media screen and (min-width: 365px) {
  html {
    font-size: 48.66667px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media screen and (min-width: 384px) {
  html {
    font-size: 51.2px; } }

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

@media screen and (min-width: 600px) {
  html {
    font-size: 80px; } }

@media screen and (min-width: 750px) {
  html {
    font-size: 100px; } }

body {
  font-size: 16px; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

.headerTop .searchWrap {
  width: 100%;
  height: 1.5rem;
  position: relative; }
  .headerTop .searchWrap .boxWrap {
    width: 93%;
    height: 0.75rem;
    position: absolute;
    top: -25%;
    left: 0.24rem; }
  .headerTop .searchWrap .searchBox {
    width: 100%;
    height: 100%;
    background: #fff;
    border: 1px solid #58585a;
    border-radius: 0.1rem;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #999999;
    font-family: f, sans-serif;
    font-size: 0.24rem; }
  .headerTop .searchWrap .searchBut {
    display: inline-block;
    width: 0.36rem;
    height: 0.36rem;
    background: url("../../images/xiaosearch_03.png") center/cover no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0.23rem; }
  .headerTop .searchWrap .micBut {
    display: inline-block;
    width: 0.36rem;
    height: 0.36rem;
    background: url("../../images/xiaomic_03.png") center/cover no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0.23rem; }
  .headerTop .searchWrap .position {
    width: 2.4rem;
    height: 0.62rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .headerTop .searchWrap .position a {
      display: inline-block;
      width: 0.36rem;
      height: 0.36rem; }
    .headerTop .searchWrap .position .positionIcon {
      width: 100%;
      height: 100%;
      background: url("../../images/xiaopisition_03.png") center/contain no-repeat; }
    .headerTop .searchWrap .position .place {
      color: #c3b08e;
      font-size: 0.24rem;
      font-family: '苹方',sans-serif; }
    .headerTop .searchWrap .position .city {
      color: #a8a7a7;
      font-size: 0.24rem;
      font-family: '苹方',sans-serif; }

.sorrywrap {
  width: 100%;
  height: 2.71rem;
  margin: 0.5rem 0 0; }
  .sorrywrap .inner {
    width: 94%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .sorrywrap .inner div {
      width: 100%;
      text-align: center; }
      .sorrywrap .inner div p {
        margin: 0 auto; }
    .sorrywrap .inner .niao p {
      width: 1.08rem;
      height: 1.25rem;
      background: url("../../images/xiaoniao_03.png") center/cover no-repeat; }
    .sorrywrap .inner .sorry p {
      margin-top: -0.2rem;
      width: 2.14rem;
      height: 0.52rem;
      line-height: 1.1;
      background: url("../../images/xiaosorry_03.png") center/cover no-repeat;
      font-size: 0.48rem;
      color: #fff; }
    .sorrywrap .inner .nosou p {
      font-size: 0.24rem;
      color: #999999; }
    .sorrywrap .inner .English p {
      font-size: 0.2rem;
      color: #999999; }

.historyBox {
  margin-top: 0.3rem;
  width: 100%;
  height: 1rem; }
  .historyBox .inner {
    width: 93%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
  .historyBox .historySearch {
    width: 1.7rem;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
    .historyBox .historySearch h3 {
      margin: 0;
      width: 100%; }
    .historyBox .historySearch .the {
      color: #ffffff;
      font-size: 0.22rem; }
    .historyBox .historySearch .xuan {
      color: #e3b08b;
      font-size: 0.22rem; }
    .historyBox .historySearch .HistoryText {
      color: #ffffff;
      font-size: 0.28rem; }
      .historyBox .historySearch .HistoryText span:nth-child(3), .historyBox .historySearch .HistoryText span:nth-child(4) {
        display: inline-block;
        width: 0.07rem;
        height: 0.07rem;
        border-radius: 50%;
        background: #e62923;
        margin-left: 0.04rem; }
    .historyBox .historySearch .circle {
      display: flex; }
      .historyBox .historySearch .circle span {
        display: inline-block;
        margin-right: 0.05rem;
        width: 0.04rem;
        height: 0.04rem;
        border-radius: 50%;
        background: #fff; }
        .historyBox .historySearch .circle span:nth-child(1), .historyBox .historySearch .circle span:nth-child(10) {
          background: #e62923; }
  .historyBox .historyChange {
    width: 1.2rem;
    height: 0.45rem;
    background: url("../../images/xiaochange_03.png") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.24rem; }
    .historyBox .historyChange a {
      color: #ffffff;
      text-decoration: none; }
  .historyBox .level {
    width: 5rem;
    height: 0.04rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0.08rem; }
    .historyBox .level span {
      display: inline-block; }
      .historyBox .level span:nth-child(2) {
        width: 99%;
        height: 0.015rem;
        background: #c6b390; }
      .historyBox .level span:nth-child(1), .historyBox .level span:nth-child(3) {
        width: 0.06rem;
        height: 0.06rem;
        border-radius: 50%;
        background: #e62923; }

.Relevant {
  width: 100%;
  height: 6.92rem;
  background: #000;
  margin: 0.3rem 0 0; }
  .Relevant .inner {
    width: 94%;
    height: 100%;
    background: #eee;
    margin: 0 auto; }
