@import "../base.css";
@import "../bootstrap.min.css";
@import "../mixin";
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}
$imgs:"../../images/xiao";
.headerTop .searchWrap{
  @include cube(100%,1.5rem);
  position: relative;
  .boxWrap{
    @include cube(93%,0.75rem);
    position: absolute;
    top: -25%;
    left: 0.24rem;
  }
  .searchBox{
    @include cube(100%,100%);
    background: #fff;
    border: 1px solid #58585a;
    border-radius: 0.1rem;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #999999;
    font-family: f, sans-serif;
    font-size: 0.24rem;
  }
  .searchBut{
    display: inline-block;
    @include square(0.36rem);
    background: url($imgs + "search_03.png")center/cover no-repeat;
    @include tb;
    left: 0.23rem;
  }
  .micBut{
    display: inline-block;
    @include square(0.36rem);
    background: url($imgs +"mic_03.png")center/cover no-repeat;
    @include tb;
    right: 0.23rem;
  }
  .position{
    @include cube(2.4rem,0.62rem);
    @include lr;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    a{
      display: inline-block;
      @include square(0.36rem);
    }
    .positionIcon{
      @include square(100%);
      background: url($imgs +"pisition_03.png")center/contain no-repeat;
    }
    .place{
      color: #c3b08e;
      font-size:0.24rem;
      font-family: '苹方',sans-serif;
    }
    .city{
      color: #a8a7a7;
      font-size:0.24rem;
      font-family: '苹方',sans-serif;
    }
  }
}
.sorrywrap{
  @include cube(100%,2.71rem);
  margin: 0.5rem 0 0;
  .inner{
    @include cube(94%,100%);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    div{
      width: 100%;
      text-align: center;
      p{
        margin: 0 auto;
      }
    }
    .niao p{
      @include cube(1.08rem,1.25rem);
      background: url($imgs + "niao_03.png")center/cover no-repeat;
    }
    .sorry p{
      margin-top: -0.2rem;
      @include cube(2.14rem,0.52rem);
      line-height: 1.1;
      background: url($imgs + "sorry_03.png")center/cover no-repeat;
      font-size: 0.48rem;
      color: #fff;
    }
    .nosou p{
      font-size: 0.24rem;
      color: #999999;
    }
    .English p{
      font-size: 0.2rem;
      color: #999999;
    }
  }
}
.historyBox{
  margin-top: 0.3rem;
  @include cube(100%,1rem);
  .inner{
    @include cube(93%,100%);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .historySearch{
    @include cube(1.7rem,100%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    h3{
      margin: 0;
      width: 100%;
    }
    .the{
      color: #ffffff;
      font-size: 0.22rem;
    }
    .xuan{
      color: #e3b08b;
      font-size: 0.22rem;
    }
    .HistoryText{
      color: #ffffff;
      font-size: 0.28rem;
      span:nth-child(3),span:nth-child(4){
        display: inline-block;
        @include circle(0.07rem);
        background: #e62923;
        margin-left: 0.04rem;
      }
    }
    .circle{
      display: flex;
      span{
        display: inline-block;
        margin-right: 0.05rem;
        @include circle(0.04rem);
        background: #fff;
        &:nth-child(1),&:nth-child(10){
          background: #e62923;
        }
      }
    }
  }
  .historyChange{
    @include cube(1.2rem,0.45rem);
    background: url($imgs + "change_03.png")center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.24rem;
    a{
      color: #ffffff;
      text-decoration: none;
    }
  }
  .level{
    @include cube(5rem,0.04rem);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0.08rem;
    span{
      display: inline-block;
      &:nth-child(2){
        @include cube(99%,0.015rem);
        background: #c6b390;
      }
      &:nth-child(1),&:nth-child(3){
        @include circle(0.06rem);
        background: #e62923;
      }
    }
  }
}
.Relevant{
  @include cube(100%,6.92rem);
  background: #000;
  margin: 0.3rem 0 0;
  .inner{
    @include cube(94%,100%);
    background: #eee;
    margin: 0 auto;
  }
}