@import "../base.css";
@import "../bootstrap.min.css";
@import "../mixin";
@import "GEfont";
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}
body{
  @include cube(100%,100%);
  background: url("../../img/xiao1.png")center/cover no-repeat;
}
.headerTop{
  @include cube(100%,1.57rem);
  position: relative;
  .headerInfo{
    @include cube(100%,100%);
    background: #000000;
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
  }
  .headerCon{
    @include cube(100%,100%);
    margin: 0 auto;
    position: absolute;
    left: 0;
    top: 0;
  }
}
$imgs:"../img/";
.headerCon{
  .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include cube(94%,100%);
    margin: 0 auto;
  }
  .moreBut{
    @include square(0.62rem);
    a{
      display: inline-block;
      @include cube(100%,100%);
      background: url("../../img/more_03.png")center/cover no-repeat;
    }
  }
  .titleBox{
    @include cube(38%,100%);
    display:flex;
    justify-content:space-between;
    align-items:center;
    .left-r,.right-r{
      @include cube(0.51rem,0.13rem);
      background: url($imgs + 'xiaoleft.png')center/cover no-repeat;
    }
    .title{
      @include cube(2rem,0.8rem);
      display: flex;
      flex-direction: column;
      align-items:center;
      justify-content: center;
      .chinese{
        @include font(0.3rem,#fff,400);
        font-family:guyue,sans-serif;
      }
      .english{
        margin-top:2%;
        text-align: center;
        @include font(0.18rem,#fff,400);
        font-family:guyue,sans-serif;
      }
    }
    .right-r{
      background:url($imgs + 'right.png')center/cover no-repeat;
    }
  }
  .mapBut{
    @include square(0.62rem);
    a{
      display: inline-block;
      @include cube(100%,100%);
      background: url("../../img/map_03.png")center/cover no-repeat;
    }
  }
}
.searchWrap{
  @include cube(100%,1.5rem);
  position: relative;
  .boxWrap{
    @include cube(94%,0.75rem);
    position: absolute;
    top: -25%;
    left: 0.24rem;
  }
  .searchBox{
    @include cube(100%,100%);
    background: #fff;
    border: 1px solid #58585a;
    border-radius: 0.1rem;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #999999;
    font-family: f, sans-serif;
    font-size: 0.24rem;
  }
  .searchBut{
    display: inline-block;
    @include square(0.36rem);
    background: url("../../img/search_03.png")center/cover no-repeat;
    @include tb;
    left: 0.23rem;
  }
  .micBut{
    display: inline-block;
    @include square(0.36rem);
    background: url("../../img/mic_03.png")center/cover no-repeat;
    @include tb;
    right: 0.23rem;
  }
  .position{
    @include cube(2.4rem,0.62rem);
    @include lr;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    a{
      display: inline-block;
      @include square(0.36rem);
    }
    .positionIcon{
      @include square(100%);
      background: url("../../img/xiaopisition_03.png")center/contain no-repeat;
    }
    .place{
      color: #c3b08e;
      font-size:0.24rem;
      font-family: '苹方',sans-serif;
    }
    .city{
      color: #a8a7a7;
      font-size:0.24rem;
      font-family: '苹方',sans-serif;
    }
  }
}
.historyBox{
  margin-top: 0.3rem;
  @include cube(100%,1rem);
  //background: #f0ad4e;
  .inner{
    @include cube(94%,100%);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .historySearch{
    @include cube(1.7rem,100%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    h3{
      margin: 0;
      width: 100%;
    }
    .the{
      color: #ffffff;
      font-size: 0.22rem;
    }
    .xuan{
      color: #e3b08b;
      font-size: 0.22rem;
    }
    .HistoryText{
      color: #ffffff;
      font-size: 0.28rem;
      span:nth-child(3),span:nth-child(4){
        display: inline-block;
        @include circle(0.07rem);
        background: #e62923;
        margin-left: 0.04rem;
      }
      b{
        display: inline-block;
        @include circle(0.07rem);
        background: #e62923;
        margin-left: 0.04rem;
      }
    }
    .circle{
      display: flex;
      span{
        display: inline-block;
        margin-right: 0.05rem;
        @include circle(0.04rem);
        background: #fff;
        &:nth-child(1),&:nth-child(10){
          background: #e62923;
        }
      }
    }
  }
  .historyChange{
    @include cube(1.2rem,0.45rem);
    background: url("../../img/change_03.png")center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.24rem;
    a{
      color: #ffffff;
      text-decoration: none;
    }
  }
  .level{
    @include cube(3.7rem,0.04rem);
    display: flex;
    justify-content: space-around;
    align-items: center;
    span{
      display: inline-block;
      &:nth-child(2){
        @include cube(3.63rem,0.015rem);
        background: #c6b390;
      }
      &:nth-child(1),&:nth-child(3){
        @include circle(0.06rem);
        background: #e62923;
      }
    }
  }
}
.historyPlace{
  @include cube(100%,3.95rem);
  .inner{
    @include cube(94%,100%);
    margin: 0 auto;
    padding: 0.3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .rank{
      @include cube(100%,1rem);
      display: flex;
      justify-content: space-around;
      align-items: center;
      &:nth-child(1),&:nth-child(3){
        width: 66.5%;
      }
    }
    .rankSon{
      @include cube(2.28rem,0.83rem);
      background: #000 url("../../img/xiao12_03.png")center/cover no-repeat;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      padding-top: 0.1rem;
      h1{
        color: #030308;
        font-size: 0.26rem;
        &::after{
          content: '';
          display: inline-block;
          @include square(0.17rem);
          background: url("../../img/xiao14_03.png")center/cover no-repeat;
        }
      }
      p{
        color: #171717;
        font-size: 0.1rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        span{
          font-size: 0.15rem;
          &:nth-child(1),&:nth-child(4){
            display: inline-block;
            @include cube(0.2rem,0.01rem);
            background: #171717;
          }
        }
      }
    }
  }
}
.historyBox2{
  margin: 0.3rem 0;
  @include cube(100%,0.45rem);
  .inner{
    @include cube(94%,100%);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .historySearch{
    @include cube(0.6rem,100%);
    h3{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      width: 100%;
    }
    .HistoryText{
      span{
        font-size: 0.48rem;
      }
      b{
        display: inline-block;
        @include circle(0.07rem);
        background: #e62923;
        margin-left: 0.04rem;
      }
    }
  }
  .historyChange{
    @include cube(1.2rem,0.45rem);
    background: url("../../img/change_03.png")center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.36rem;
    a{
      color: #ffffff;
      text-decoration: none;
    }
  }
  .level{
    @include cube(5rem,0.04rem);
    display: flex;
    justify-content: space-around;
    align-items: center;
    span{
      display: inline-block;
      &:nth-child(2){
        @include cube(100%,0.015rem);
        background: #c6b390;
      }
      &:nth-child(1),&:nth-child(3){
        @include circle(0.06rem);
        background: #e62923;
      }
    }
  }
}
.selectPlace{
  @include cube(100%,6rem);
  .inner{
    @include cube(94%,100%);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .place{
    @include cube(5.87rem,5.9rem);
    background: url("../../img/xiaodizhi_03.png")center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    p{
      width: 85%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      span{
        font-size: 0.24rem;
        color: #666;
        &:nth-child(2){
          margin-top: -0.12rem;
        }
      }
    }
  }
  .letter{
    @include cube(1.18rem,5.9rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    p{
      width: 85%;
      font-size: 0.36rem;
      color: #ffffff;
      display: flex;
      justify-content: space-around;
      align-items: center;
      &::before{
        content: '';
        @include cube(0.19rem,0.11rem) ;
        display: inline-block;
        background: url("../../img/xiaobj_03.png")center/cover no-repeat;
      }
      &::after{
        content: '';
        @include cube(0.19rem,0.11rem) ;
        display: inline-block;
        background: url("../../img/xiaobj_03.png")center/cover no-repeat;
      }
    }
  }
}