@import "../base.css";
@import "../bootstrap.min.css";
@import "../mixin";
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}
*{
  margin:0;
  padding: 0;
  cursor: pointer;
  list-style: none;
  font-size: 0.12rem;
}
body{
  @include cube(100%,100%);
  background: url("../../images/xiaokaishi.png")center/cover no-repeat;
}
.headerTop{
  @include cube(100%,1.2rem);
  position: relative;
  .headerInfo{
    @include cube(100%,100%);
    background: #000000;
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
  }
  .headerCon{
    @include cube(100%,100%);
    margin: 0 auto;
    position: absolute;
    left: 0;
    top: 0;
  }
}
$imgs:"../../images/";
.headerCon{
  .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include cube(93%,100%);
    margin: 0 auto;
  }
  .moreBut{
    @include square(0.62rem);
    a{
      display: inline-block;
      @include cube(100%,100%);
      background: url("../../images/xiaomore_03.png")center/cover no-repeat;
    }
  }
  .titleBox{
    @include cube(38%,100%);
    margin-left:-0.4rem;
    display:flex;
    justify-content:space-between;
    align-items:center;
    .left-r,.right-r{
      @include cube(0.51rem,0.13rem);
      background: url($imgs + 'xiaoleft.png')center/cover no-repeat;
    }
    .title{
      @include cube(2rem,0.8rem);
      display: flex;
      flex-direction: column;
      align-items:center;
      justify-content: center;
      .chinese{
        @include font(0.3rem,#fff,400);
        font-family:guyue,sans-serif;
      }
      .english{
        margin-top:2%;
        text-align: center;
        @include font(0.18rem,#fff,400);
        font-family:guyue,sans-serif;
      }
    }
    .right-r{
      background:url($imgs + 'xiaoright.png')center/cover no-repeat;
    }
  }
}
.search{
  @include cube(100%,6.2rem);
  .inner{
    @include cube(94%,100%);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 0.3rem;
  }
  .proportion{
    p{
      @include cube(0.76rem,0.17rem);
      font-size: 0.24rem;
      color: #ff0000;
      margin-top: 0.15rem;
      text-align: center;
      &:nth-child(2){
        border: 0.04rem solid #ff0000;
        border-top: none;
      }
    }
  }
  .sign{
    p{
      @include circle(0.58rem);
      &:nth-child(3){
        font-size: 0.2rem;
        color: #ff0000;display: flex;
        justify-content: center;
        align-items: center;
        height: 0.25rem;
      }
    }
    .plus{
      margin-top: 0.2rem;
      background: url("../../images/xiaoplus_03.png")center/cover no-repeat;
    }
    .reduce{
      margin-top: 0.2rem;
      background: url("../../images/xiaoreduce_03.png")center/cover no-repeat;
    }
    .compass{
      //margin-top: 0.2rem;
      background: url("../../images/xiaocompass_03.png")center/cover no-repeat;
    }

  }
  .startsearch{
    @include cube(5.4rem,100%);
    background: url("../../images/xiaosousuo_03.png")center/cover no-repeat;
    p{
      @include cube(0.66rem,0.89rem);
    }
    div{
      height: 1.3rem;
    }
    .p1{
      p{
        margin-left: 3.5rem;
        background: url("../../images/xiaodingwei_03.png")center/cover no-repeat;
      }
    }
    .p2{
      p{
        margin-left: 1.3rem;
        background: url("../../images/xiaodingwei_03.png")center/cover no-repeat;
      }
    }
    .p3{
      p{
        margin-left: 4.2rem;
        background: url("../../images/xiaodingwei_03.png")center/cover no-repeat;
      }
    }
    .p4{
      p{
        margin-left: 0.9rem;
        background: url("../../images/xiaodingwei_03.png")center/cover no-repeat;
      }
    }
  }
}
.scenicSpot{
  @include cube(auto,5.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  div{
    position: relative;
  }
  .palace{
    margin-left: -2rem;
    @include cube(2.98rem,3.86rem);
    background: url("../../images/xiaogu_03.png")center/cover no-repeat;
    p:nth-child(1){
      color: #111;
      font-size: 0.44rem;
      @include lr;
      bottom: 1rem;
      width: 100%;
      padding-left: 0.3rem;
    }
    p:nth-child(2){
      color: #666;
      font-size: 0.2rem;
      @include lr;
      bottom: 0.6rem;
      width: 100%;
      padding-left: 0.3rem;
    }
  }
  .Humanities{
    @include cube(4.16rem,5.37rem);
    background: url("../../images/xiaowen_03.png")center/cover no-repeat;
    p:nth-child(1){
      color: #111;
      font-size: 0.64rem;
      @include lr;
      bottom: 1.4rem;
      width: 100%;
      padding-left: 0.3rem;
    }
    p:nth-child(2){
      color: #666;
      font-size: 0.4rem;
      @include lr;
      bottom: 0.6rem;
      width: 100%;
      padding-left: 0.3rem;
    }
  }
  .selfGuide{
    margin-right: -2rem;
    @include cube(2.98rem,3.86rem);
    background: url("../../images/xiaodao_03.png")center/cover no-repeat;
    p:nth-child(1){
      color: #111;
      font-size: 0.44rem;
      @include lr;
      bottom: 1rem;
      width: 100%;
      padding-left: 0.3rem;
    }
    p:nth-child(2){
      color: #666;
      font-size: 0.2rem;
      @include lr;
      bottom: 0.6rem;
      width: 100%;
      padding-left: 0.3rem;
    }
  }
}