@charset "UTF-8";
@import url(../base.css);
@import url(../bootstrap.min.css);
/*函数*/
/*@function bg(){
	$r:floor(random()*56+200);
	$g:floor(random()*56);
	$b:floor(random()*56);
	$color:rgb($r,$g,$b);
	@debug $color;  
	@return $color;
}*/
@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media screen and (min-width: 365px) {
  html {
    font-size: 48.66667px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media screen and (min-width: 384px) {
  html {
    font-size: 51.2px; } }

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

@media screen and (min-width: 600px) {
  html {
    font-size: 80px; } }

@media screen and (min-width: 750px) {
  html {
    font-size: 100px; } }

body {
  font-size: 16px; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0;
  cursor: pointer;
  list-style: none;
  font-size: 0.12rem; }

body {
  width: 100%;
  height: 100%;
  background: url("../../images/xiaokaishi.png") center/cover no-repeat; }

.headerTop {
  width: 100%;
  height: 1.2rem;
  position: relative; }
  .headerTop .headerInfo {
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0; }
  .headerTop .headerCon {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    top: 0; }

.headerCon .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 93%;
  height: 100%;
  margin: 0 auto; }

.headerCon .moreBut {
  width: 0.62rem;
  height: 0.62rem; }
  .headerCon .moreBut a {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url("../../images/xiaomore_03.png") center/cover no-repeat; }

.headerCon .titleBox {
  width: 38%;
  height: 100%;
  margin-left: -0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .headerCon .titleBox .left-r, .headerCon .titleBox .right-r {
    width: 0.51rem;
    height: 0.13rem;
    background: url("../../images/xiaoleft.png") center/cover no-repeat; }
  .headerCon .titleBox .title {
    width: 2rem;
    height: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .headerCon .titleBox .title .chinese {
      font-size: 0.3rem;
      color: #fff;
      font-weight: 400;
      font-family: guyue,sans-serif; }
    .headerCon .titleBox .title .english {
      margin-top: 2%;
      text-align: center;
      font-size: 0.18rem;
      color: #fff;
      font-weight: 400;
      font-family: guyue,sans-serif; }
  .headerCon .titleBox .right-r {
    background: url("../../images/xiaoright.png") center/cover no-repeat; }

.search {
  width: 100%;
  height: 6.2rem; }
  .search .inner {
    width: 94%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 0.3rem; }
  .search .proportion p {
    width: 0.76rem;
    height: 0.17rem;
    font-size: 0.24rem;
    color: #ff0000;
    margin-top: 0.15rem;
    text-align: center; }
    .search .proportion p:nth-child(2) {
      border: 0.04rem solid #ff0000;
      border-top: none; }
  .search .sign p {
    width: 0.58rem;
    height: 0.58rem;
    border-radius: 50%; }
    .search .sign p:nth-child(3) {
      font-size: 0.2rem;
      color: #ff0000;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 0.25rem; }
  .search .sign .plus {
    margin-top: 0.2rem;
    background: url("../../images/xiaoplus_03.png") center/cover no-repeat; }
  .search .sign .reduce {
    margin-top: 0.2rem;
    background: url("../../images/xiaoreduce_03.png") center/cover no-repeat; }
  .search .sign .compass {
    background: url("../../images/xiaocompass_03.png") center/cover no-repeat; }
  .search .startsearch {
    width: 5.4rem;
    height: 100%;
    background: url("../../images/xiaosousuo_03.png") center/cover no-repeat; }
    .search .startsearch p {
      width: 0.66rem;
      height: 0.89rem; }
    .search .startsearch div {
      height: 1.3rem; }
    .search .startsearch .p1 p {
      margin-left: 3.5rem;
      background: url("../../images/xiaodingwei_03.png") center/cover no-repeat; }
    .search .startsearch .p2 p {
      margin-left: 1.3rem;
      background: url("../../images/xiaodingwei_03.png") center/cover no-repeat; }
    .search .startsearch .p3 p {
      margin-left: 4.2rem;
      background: url("../../images/xiaodingwei_03.png") center/cover no-repeat; }
    .search .startsearch .p4 p {
      margin-left: 0.9rem;
      background: url("../../images/xiaodingwei_03.png") center/cover no-repeat; }

.scenicSpot {
  width: auto;
  height: 5.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden; }
  .scenicSpot div {
    position: relative; }
  .scenicSpot .palace {
    margin-left: -2rem;
    width: 2.98rem;
    height: 3.86rem;
    background: url("../../images/xiaogu_03.png") center/cover no-repeat; }
    .scenicSpot .palace p:nth-child(1) {
      color: #111;
      font-size: 0.44rem;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      bottom: 1rem;
      width: 100%;
      padding-left: 0.3rem; }
    .scenicSpot .palace p:nth-child(2) {
      color: #666;
      font-size: 0.2rem;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      bottom: 0.6rem;
      width: 100%;
      padding-left: 0.3rem; }
  .scenicSpot .Humanities {
    width: 4.16rem;
    height: 5.37rem;
    background: url("../../images/xiaowen_03.png") center/cover no-repeat; }
    .scenicSpot .Humanities p:nth-child(1) {
      color: #111;
      font-size: 0.64rem;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      bottom: 1.4rem;
      width: 100%;
      padding-left: 0.3rem; }
    .scenicSpot .Humanities p:nth-child(2) {
      color: #666;
      font-size: 0.4rem;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      bottom: 0.6rem;
      width: 100%;
      padding-left: 0.3rem; }
  .scenicSpot .selfGuide {
    margin-right: -2rem;
    width: 2.98rem;
    height: 3.86rem;
    background: url("../../images/xiaodao_03.png") center/cover no-repeat; }
    .scenicSpot .selfGuide p:nth-child(1) {
      color: #111;
      font-size: 0.44rem;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      bottom: 1rem;
      width: 100%;
      padding-left: 0.3rem; }
    .scenicSpot .selfGuide p:nth-child(2) {
      color: #666;
      font-size: 0.2rem;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      bottom: 0.6rem;
      width: 100%;
      padding-left: 0.3rem; }
