<?php include VIEW.'default/header.html'?>
<body>
<div class="voice line">
    <div class="table">
        <a href="#" onclick="javascript:history.back(-1)"></a>
    </div>
    <div class="content">
        <div class="head-img">
            <div class="head-img-inner">
                <img src="<?php echo IMG_PATH?>yd-voice-head.png" alt="">
            </div>
        </div>
        <div class="voice-call">
            <span class="voice-call-span"></span>
        </div>
        <div class="voice-time">
            <span class="voice-time-span voice-last">
                0:56
            </span>
        </div>
        <div class="voice-transit">
            <div class="transit-inner">
                <div class="transit-inner-span">
                    <span class="transit-dian">...</span>
                    <span class="transit-circle"></span>
                    <span class="transit-dian">...</span>
                </div>
            </div>
        </div>
        <div class="voice-line"></div>
        <div class="voice-button">
            <div class="voice-button-inner">
                <div class="button-sound"></div>
                <div class="button-close"></div>
                <div class="button-more"></div>
            </div>
        </div>
    </div>

</div>
</body>
</html>