<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name='viewport' content='width=device-width' />
    <link rel="stylesheet" href="<?php echo CSS_PATH?>GE/GEsearch.css">
    <link rel="stylesheet" href="<?php echo CSS_PATH?>base.css">
</head>
<body>
    <div class="headerTop">
        <div class="headerInfo"></div>
        <div class="headerCon">
            <div class="inner">
                <div class="moreBut">
                    <a href="index"></a>
                </div>
                <ul class="titleBox">
                    <li class="left-r"></li>
                    <li class="title">
                        <span class="chinese">搜索</span>
                        <span class="english"><span style="color:#F80807;">SET</span>TING UP</span>
                    </li>
                    <li class="right-r"></li>
                </ul>
                <div class="mapBut">
                    <a href=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="searchWrap">
        <div class="boxWrap">
            <input type="text" name="text" placeholder="目的地/景点/攻略/导游" class="searchBox">
            <a href="" class="searchBut"></a>
            <a href="" class="micBut"></a>
        </div>
        <div class="position">
            <a href="">
                <div class="positionIcon">
                </div>
            </a>
            <span class="place">浙江</span>
            <span class="city">定位当前城市</span>
        </div>
    </div>
    <div class="historyBox">
        <div class="inner">
            <div class="historySearch">
                <h3 class="the">the</h3>
                <h3 class="xuan">FEILEIXUAN</h3>
                <h3 class="circle">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </h3>
                <h3 class="HistoryText">
                    <span style="color: #e62923">历史</span>
                    <span>搜索</span>
                    <span></span>
                    <span></span>
                </h3>
            </div>
            <div class="level">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="historyChange">
                <a href=""><span>换一换</span></a>
            </div>
        </div>
    </div>
    <div class="historyPlace">
        <div class="inner">
            <div class="rank">
                <div class="rankSon">
                    <h1>成都</h1>
                    <p>
                        <span></span><span style="color: #e62923">CH</span><span>ENG DU</span><span></span>
                    </p>
                </div>
                <div class="rankSon">
                    <h1>徽派建筑</h1>
                    <p>
                        <span></span><span style="color: #e62923">HUI</span><span>PAI JZ</span><span></span>
                    </p>
                </div>
            </div>
            <div class="rank">
                <div class="rankSon">
                    <h1>自助导游</h1>
                    <p>
                        <span></span><span style="color: #e62923">CH</span><span>ENG DU</span><span></span>
                    </p>
                </div>
                <div class="rankSon">
                    <h1>北京</h1>
                    <p>
                        <span></span><span style="color: #e62923">BEI</span><span>JING</span><span></span>
                    </p>
                </div>
                <div class="rankSon">
                    <h1>上海</h1>
                    <p>
                        <span></span><span style="color: #e62923">SH</span><span>HAI</span><span></span>
                    </p>
                </div>
            </div>
            <div class="rank">
                <div class="rankSon">
                    <h1>浙江</h1>
                    <p>
                        <span></span><span style="color: #e62923">ZH</span><span>EJIANG</span><span></span>
                    </p>
                </div>
                <div class="rankSon">
                    <h1>杭州</h1>
                    <p>
                        <span></span><span style="color: #e62923">HANG</span><span>ZHOU</span><span></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="historyBox">
        <div class="inner">
            <div class="historySearch">
                <h3 class="the">the</h3>
                <h3 class="xuan">FEILEIXUAN</h3>
                <h3 class="circle">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </h3>
                <h3 class="HistoryText">
                    <span style="color: #e62923">热门</span>
                    <span>搜索</span>
                    <span></span>
                    <span></span>
                </h3>
            </div>
            <div class="level">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="historyChange">
                <a href=""><span>换一换</span></a>
            </div>
        </div>
    </div>
    <div class="hotSearch">
        <div class="inner">
            <div class="zhujia">
                <div class="zhujiaImg"></div>
                <div class="introduce">
                    <p class="title">梦里的枕水人家————<span style="color: #e62923">朱家角</span></p>
                    <p class="dian">
                        <span style="background: #e62923"></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span style="background: #e62923"></span>
                        <span style="background: #e62923"></span>
                        <span style="background: #e62923"></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span style="background: #e62923"></span>
                    </p>
                    <p class="english" style="color: #666"><span style="color: #e62923">THE</span> DREAM PILLOW WATER</p>
                    <p class="intro" style="color: #999">朱家角属于上海市青浦区内，是典型的江南水乡古镇，2000年原沈巷镇镇</p>
                </div>
            </div>
            <div class="shaoxing">
                <div class="shaoxingImg"></div>
                <div class="introduce">
                    <p class="title">江南情节，梦里水乡————<span style="color: #e62923">绍兴</span></p>
                    <p class="dian">
                        <span style="background: #e62923"></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span style="background: #e62923"></span>
                        <span style="background: #e62923"></span>
                        <span style="background: #e62923"></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span style="background: #e62923"></span>
                    </p>
                    <p class="english" style="color: #666"><span style="color: #e62923">THE</span> DREAM PILLOW WATER</p>
                    <p class="intro" style="color: #999">一说到绍兴，脑海中第一个出来的自然是鲁迅，从百草园到三味书屋，从孔乙己......</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>