<head>
    <meta charset="UTF-8">
    <title>搜索后</title>
    <meta name='viewport' content='width=device-width' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="<?php echo CSS_PATH?>GE/GEoutsearch.css">
    <link rel="stylesheet" href="<?php echo CSS_PATH?>base.css">
</head>
<body>
<div class="headerTop">
    <div class="headerInfo"></div>
    <div class="headerCon">
        <div class="inner">
            <div class="moreBut">
                <a href="#" onclick="javascript:history.back(-1)"></a>
            </div>
            <ul class="titleBox">
                <li class="left-r"></li>
                <li class="title">
                    <span class="chinese">搜索</span>
                    <span class="english"><span style="color:#F80807;">SET</span>TING UP</span>
                </li>
                <li class="right-r"></li>
            </ul>
            <div class="mapBut">
                <a href="stsearch"></a>
            </div>
        </div>
    </div>
    <div class="searchWrap">
        <div class="boxWrap">
            <input type="text" name="text" placeholder="北京" class="searchBox">
            <a href="#" class="searchBut"></a>
            <a href="voice_begin" class="micBut"></a>
        </div>
    </div>
</div>
<div class="sorrywrap">
    <div class="inner">
        <div class="niao">
            <p></p>
        </div>
        <div class="sorry">
            <p>SORRY</p>
        </div>
        <div class="nosou">
            <p>没有搜索到你想要的</p>
        </div>
        <div class="English">
            <p><span style="color: #e62923">NO</span> INFORMATION YOU HAVE SEARCHED</p>
        </div>
    </div>
</div>
<div class="historyBox">
    <div class="inner">
        <div class="historySearch">
            <h3 class="the">the</h3>
            <h3 class="xuan">FEILEIXUAN</h3>
            <h3 class="circle">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </h3>
            <h3 class="HistoryText">
                <span style="color: #e62923">历史</span>
                <span>搜索</span>
                <span></span>
                <span></span>
            </h3>
        </div>
        <div class="level">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="historyChange">
            <a href=""><span>换一换</span></a>
        </div>
    </div>
</div>
<div class="Relevant">
    <div class="inner">
        <div class="rele1 rele2">
            <div class="Scenic-name">
                <p>故<span></span>宫</p>
                <p>B<span></span>J<span></span>G<span></span>U<span></span>G<span></span>O<span></span>N<span></span>G</p>
            </div>
            <div class="Scenic-img"></div>
        </div>
        <div class="rele1 rele3">
            <div class="Scenic-img"></div>
            <div class="Scenic-name">
                <p>长<span></span>城</p>
                <p>O<span></span>U<span></span>R<span></span>D<span></span>E<span></span>S<span></span>I<span></span>G<span></span>N</p>
            </div>
            <div class="Scenic-img"></div>
        </div>
        <div class="rele1 rele4">
            <div class="Scenic-name">
                <p>徽<span></span>派</p>
                <p>O<span></span>U<span></span>R<span></span>D<span></span>E<span></span>S<span></span>I<span></span>G<span></span>N</p>
            </div>
            <div class="Scenic-img"></div>
            <a href="searchguide">
                <div class="Scenic-name">
                    <p>导<span></span>游</p>
                    <p>O<span></span>U<span></span>R<span></span>D<span></span>E<span></span>S<span></span>I<span></span>G<span></span>N</p>
                </div>
            </a>
        </div>
    </div>
</div>
</body>
</html>