<head>
    <meta charset="UTF-8">
    <title>搜索导游</title>
    <meta name='viewport' content='width=device-width' />
    <link rel="stylesheet" href="<?php echo CSS_PATH?>GE/GEsearchguide.css">
    <link rel="stylesheet" href="<?php echo CSS_PATH?>base.css">
</head>
<body>
<div class="headerTop">
    <div class="headerInfo"></div>
    <div class="headerCon">
        <div class="inner">
            <div class="moreBut">
                <a href=""></a>
            </div>
            <ul class="titleBox">
                <li class="left-r"></li>
                <li class="title">
                    <span class="chinese">搜索</span>
                    <span class="english"><span style="color:#F80807;">SET</span>TING UP</span>
                </li>
                <li class="right-r"></li>
            </ul>
            <div class="mapBut">
                <a href=""></a>
            </div>
        </div>
    </div>
</div>
<div class="searchWrap">
    <div class="boxWrap">
        <input type="text" name="text" placeholder="目的地/景点/攻略/导游" class="searchBox">
        <a href="" class="searchBut"></a>
        <a href="" class="micBut"></a>
    </div>
    <div class="position">
        <a href="">
            <div class="positionIcon">
            </div>
        </a>
        <span class="place">浙江</span>
        <span class="city">定位当前城市</span>
    </div>
</div>
</body>
</html>