<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索地址</title>
    <meta name='viewport' content='width=device-width' />
    <link rel="stylesheet" href="<?php echo CSS_PATH?>css/GE/GEselect.css">
    <link rel="stylesheet" href="<?php echo CSS_PATH?>css/base.css">
</head>
<body>
    <div class="headerTop">
        <div class="headerInfo"></div>
        <div class="headerCon">
            <div class="inner">
                <div class="moreBut">
                    <a href=""></a>
                </div>
                <ul class="titleBox">
                    <li class="left-r"></li>
                    <li class="title">
                        <span class="chinese">搜索</span>
                        <span class="english"><span style="color:#F80807;">SET</span>TING UP</span>
                    </li>
                    <li class="right-r"></li>
                </ul>
                <div class="mapBut">
                    <a href=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="searchWrap">
        <div class="boxWrap">
            <input type="text" name="text" placeholder="输入目的地" class="searchBox">
            <a href="" class="searchBut"></a>
            <a href="" class="micBut"></a>
        </div>
        <div class="position">
            <a href="">
                <div class="positionIcon">
                </div>
            </a>
            <span class="place">浙江</span>
            <span class="city">定位当前城市</span>
        </div>
    </div>
    <div class="historyBox">
        <div class="inner">
            <div class="historySearch">
                <h3 class="the">the</h3>
                <h3 class="xuan">FEILEIXUAN</h3>
                <h3 class="circle">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </h3>
                <h3 class="HistoryText">
                    <span style="color: #e62923">常用</span>
                    <span>城市</span>
                    <span></span>
                    <span></span>
                </h3>
            </div>
            <div class="level">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="historyChange">
                <a href=""><span>换一换</span></a>
            </div>
        </div>
    </div>
    <div class="historyPlace">
        <div class="inner">
            <div class="rank">
                <div class="rankSon">
                    <h1>成都</h1>
                    <p>
                        <span></span><span style="color: #e62923">CH</span><span>ENG DU</span><span></span>
                    </p>
                </div>
                <div class="rankSon">
                    <h1>徽派建筑</h1>
                    <p>
                        <span></span><span style="color: #e62923">HUI</span><span>PAI JZ</span><span></span>
                    </p>
                </div>
            </div>
            <div class="rank">
                <div class="rankSon">
                    <h1>自助导游</h1>
                    <p>
                        <span></span><span style="color: #e62923">CH</span><span>ENG DU</span><span></span>
                    </p>
                </div>
                <div class="rankSon">
                    <h1>北京</h1>
                    <p>
                        <span></span><span style="color: #e62923">BEI</span><span>JING</span><span></span>
                    </p>
                </div>
                <div class="rankSon">
                    <h1>上海</h1>
                    <p>
                        <span></span><span style="color: #e62923">SH</span><span>HAI</span><span></span>
                    </p>
                </div>
            </div>
            <div class="rank">
                <div class="rankSon">
                    <h1>浙江</h1>
                    <p>
                        <span></span><span style="color: #e62923">ZH</span><span>EJIANG</span><span></span>
                    </p>
                </div>
                <div class="rankSon">
                    <h1>杭州</h1>
                    <p>
                        <span></span><span style="color: #e62923">HANG</span><span>ZHOU</span><span></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="historyBox2">
        <div class="inner">
            <div class="historySearch">
                <h3 class="HistoryText">
                    <span style="color: #e62923">A</span>
                    <b></b>
                    <b></b>
                </h3>
            </div>
            <div class="level">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="historyChange">
                <a href=""><span>A</span></a>
            </div>
        </div>
    </div>
    <div class="selectPlace">
        <div class="inner">
            <div class="place">
                <p>
                    <span>鞍山</span>
                    <span style="color: #d8d8d8">......................................................................</span>
                </p>
                <p>
                    <span>安庆</span>
                    <span style="color: #d8d8d8">......................................................................</span>
                </p>
                <p>
                    <span>安阳</span>
                    <span style="color: #d8d8d8">......................................................................</span>
                </p>
                <p>
                    <span>安康</span>
                    <span style="color: #d8d8d8">......................................................................</span>
                </p>
                <p>
                    <span>安丘</span>
                    <span style="color: #d8d8d8">......................................................................</span>
                </p>
                <p>
                    <span>安顺</span>
                    <span style="color: #d8d8d8">......................................................................</span>
                </p>
                <p>
                    <span>阿克苏</span>
                    <span style="color: #d8d8d8">......................................................................</span>
                </p>
                <p>
                    <span>阿拉尔</span>
                    <span style="color: #d8d8d8">......................................................................</span>
                </p>
                <p>
                    <span>安化</span>
                    <span style="color: #d8d8d8">......................................................................</span>
                </p>
            </div>
            <div class="letter">
                <p>B</p>
                <p>C</p>
                <p>D</p>
                <p>E</p>
                <p>F</p>
                <p>G</p>
                <p>H</p>
                <p>I</p>
                <p>J</p>
            </div>
        </div>
    </div>
</body>
</html>