<?php include VIEW.'default/header.html'?>
<link rel="stylesheet" href="<?php echo CSS_PATH?>GE/GEstart.css">
<link rel="stylesheet" href="<?php echo CSS_PATH?>base.css">
<body>
    <div class="headerTop">
        <div class="headerInfo"></div>
        <div class="headerCon">
            <div class="inner">
                <div class="moreBut">
                    <a href="#" onclick="javascript:history.back(-1)"></a>
                </div>
                <ul class="titleBox">
                    <li class="left-r"></li>
                    <li class="title">
                        <span class="chinese">搜索</span>
                        <span class="english"><span style="color:#F80807;">SET</span>TING UP</span>
                    </li>
                    <li class="right-r"></li>
                </ul>
                <div class="mapBut">
                    <a href=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="search">
        <div class="inner">
            <div class="proportion">
                <p>500m</p>
                <p></p>
            </div>
            <div class="startsearch">
                <div class="p1">
                    <p></p>
                </div>
                <div class="p2">
                    <p></p>
                </div>
                <div class="p3">
                    <p></p>
                </div>
                <div class="p4">
                    <p></p>
                </div>
            </div>
            <div class="sign">
                <p class="plus"></p>
                <p class="reduce"></p>
                <p>N</p>
                <p class="compass"></p>
            </div>
        </div>
    </div>
    <div class="scenicSpot">
        <div class="palace">
            <P>中国故宫</P>
            <P>CHINA'S PALACE</P>
        </div>
        <div class="Humanities">
            <P>人文景区</P>
            <P>CHINA'S PALACE</P>
        </div>
        <div class="selfGuide">
            <P>自助导游</P>
            <P>CHINA'S PALACE</P>
        </div>
    </div>
</body>
</html>