<?php include VIEW.'default/header.html'?>
<script src="<?php echo JS_PATH?>jquery.js"></script>
<link rel="stylesheet" href="<?php echo CSS_PATH?>process/require.css">
<link rel="stylesheet" href="<?php echo CSS_PATH?>process/overview.css">
<link rel="stylesheet" href="<?php echo CSS_PATH?>process/write.css">
<link rel="stylesheet" href="<?php echo CSS_PATH?>process/confirm.css">

<div class="headerTop">
    <div class="headerInfo"></div>
    <div class="headerCon">
        <div class="inner">
            <div class="moreBut">
                <a href="#" onclick="javascript:history.back(-1)"></a>
            </div>
            <ul class="titleBox">
                <li class="left-r"></li>
                <li class="title">
                    <span class="chinese">确认订单</span>
                    <span class="english"><span style="color:#F80807;">SET</span>TING UP</span>
                </li>
                <li class="right-r"></li>
            </ul>
            <div class="mapBut">
                <a href=""></a>
            </div>
        </div>
    </div>
</div>


<div class="content">
    <div class="prompt">
        <p>请在24小时内付款</p>
        <P>.</P>
        <P>超时订单自动失效</P>
    </div>


    <div class="message">
        <dl>
            <dt>
                <span class="core"></span>
                <span class="people">订单信息</span>
                <span></span>
            </dt>
            <div class="resert">
                <div class="resertcon">
                    <div class="top">中国故宫一日游(成人)</div>
                    <div class="column">
                        <div class="row">
                            <div class="cube"></div>
                            <span>出现日期：2017-03-21</span>
                        </div>
                        <div class="row">
                            <div class="cube"></div>
                            <span>购买数量：1</span>
                        </div>
                    </div>
                    <div class="column">
                        <div class="row">
                            <div class="cube"></div>
                            <span>联系人：孙雨</span>
                        </div>

                    </div>
                    <div class="column">
                        <div class="row">
                            <div class="cube"></div>
                            <span>联系电话：18306872311</span>
                        </div>

                    </div>
                    <div class="column">
                        <div class="row">
                            <div class="cube"></div>
                            <span>邮箱：1010589362@163.com</span>
                        </div>

                    </div>
                    <div class="column">
                        <div class="row">
                            <div class="cube"></div>
                            <span>备注：</span>
                        </div>

                    </div>

                </div>
            </div>


        </dl>

    </div>

    <div class="level">
        <span class="red_point">..</span>
        <span>..................</span>
        <span class="red_point">...</span>
        <span>..................</span>
        <span class="red_point">..</span>
    </div>




    <div class="product">

        <div class="left">
            <div class="leftcon">
                <h2>中国故宫</h2>
                <div class="level">
                    <div class="pat"></div>
                    <div class="solid"></div>
                    <div class="pat"></div>
                </div>
                <span>china's palace</span>
            </div>
        </div>
        <div class="right">
            <div class="rightcon">
                <div class="title">
                    <span>【</span>
                    <span>伦比</span>
                    <span>中国故宫</span>
                    <span>】</span>
                </div>
                <div class="con">
                    <span>上午场</span>
                    <span>北京故宫门票</span>
                </div>
                <div>
                    <span>成人</span>
                    <span class="scroll"></span>
                    <span>淡季</span>
                </div>
                <div class="connact">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>

        <div class="out">

        </div>
    </div>



    <div class="pay">
       <div class="paycon">
       <div class="top">
           <div class="img"></div>
           <div class="col">
               <span>支付金额</span>
               <span>DINGDANZHANSHIXIANG</span>
           </div>
       </div>
        <div class="price">180.00</div>
       <div>温馨提示：请确认好订单信息再进行支付</div>
        </div>

    </div>



</div>


<a href="/index.php/index/payment"><div class="footer">
    <div class="top">
        <p>去支付</p>
        <p>i</p>
    </div>
    <div class="bottom">HUODNGTUIJIAN</div>
</div>
</a>




<?php include VIEW.'default/footer.html'?>