<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="<?php echo CSS_PATH?>bootstrap.min.css">
    <script src="<?php echo JS_PATH?>jquery.js"></script>
    <script src="<?php echo JS_PATH?>bootstrap.min.js"></script>
</head>
<body>

<link rel="stylesheet" href="<?php echo CSS_PATH?>process/require.css">
<link rel="stylesheet" href="<?php echo CSS_PATH?>process/overview.css">

<div class="headerTop">
    <div class="headerInfo"></div>
    <div class="headerCon">
        <div class="inner">
            <div class="moreBut">
                <a href="#" onclick="javascript:history.back(-1)"></a>
            </div>
            <ul class="titleBox">
                <li class="left-r"></li>
                <li class="title">
                    <span class="chinese">方案</span>
                    <span class="english"><span style="color:#F80807;">SET</span>TING UP</span>
                </li>
                <li class="right-r"></li>
            </ul>
            <div class="mapBut">
                <a href=""></a>
            </div>
        </div>
    </div>
</div>



<div class="content">
    <div class="historyBox">
        <div class="inner">
            <div class="historySearch">
                <h3 class="the">the</h3>
                <h3 class="xuan">FEILEIXUAN</h3>
                <h3 class="circle">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </h3>
                <h3 class="HistoryText">
                    <span style="color: #e62923">我想去</span>
                    <span></span>
                    <span></span>
                    <span></span>
                </h3>
            </div>
            <div class="level">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <!--<div class="historyChange">-->
            <!--&lt;!&ndash;<a href=""><span>换一换</span></a>&ndash;&gt;-->
            <!--</div>-->
        </div>
    </div>
</div>
