<?php include VIEW.'default/header.html'?>

<script src="<?php echo JS_PATH?>jquery.js"></script>
<link rel="stylesheet" href="<?php echo CSS_PATH?>process/require.css">
<link rel="stylesheet" href="<?php echo CSS_PATH?>process/overview.css">
<link rel="stylesheet" href="<?php echo CSS_PATH?>process/method.css">

<div class="headerTop">
    <div class="headerInfo"></div>
    <div class="headerCon">
        <div class="inner">
            <div class="moreBut">
                <a href="#" onclick="javascript:history.back(-1)"></a>
            </div>
            <ul class="titleBox">
                <li class="left-r"></li>
                <li class="title">
                    <span class="chinese">方案</span>
                    <span class="english"><span style="color:#F80807;">SET</span>TING UP</span>
                </li>
                <li class="right-r"></li>
            </ul>
            <div class="mapBut">
                <a href=""></a>
            </div>
        </div>
    </div>
</div>



<div class="content">
    <div class="banner">

        <div class="conH">
         <div class="china">
             <span class="reds">北京</span>
             <span>天安门</span>
         </div>
        <div class="english">
            <span class="reds">B</span>
            <span class="reds point">.</span>
            <span class="reds">J</span>
            <span class="reds point">.</span>
            <span class="reds">T</span>
            <span class="reds point">.</span>
            <span>A</span>
            <span class="reds point">.</span>
            <span>M</span>
        </div>
        </div>
    </div>




    <div class="historyBox">
        <div class="inner">
            <div class="historySearch">
                <h3 class="the">the</h3>
                <h3 class="xuan">FEILEIXUAN</h3>
                <h3 class="circle">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </h3>
                <h3 class="HistoryText">
                    <span style="color: #e62923">急速预定</span>
                    <span></span>
                    <span></span>
                    <span></span>
                </h3>
            </div>
            <div class="level">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <!--<div class="historyChange">-->
            <!--&lt;!&ndash;<a href=""><span>换一换</span></a>&ndash;&gt;-->
            <!--</div>-->
        </div>
    </div>

    <div class="action">
        <div class="actioncon">
            <div class="active twocolor">
                <div class="nav">
                    <div class="top">
                        <span class="dian"></span>
                        <span>横店影城</span>
                        <span class="dian"></span>
                    </div>

                    <div class="bottom">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="active">
            <div class="nav">
                <div class="top">
                    <span class="dian"></span>
                    <span>横店影城</span>
                    <span class="dian"></span>
                </div>

                <div class="bottom">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            </div>
            <div class="active">
            <div class="nav">
                <div class="top">
                    <span class="dian"></span>
                    <span>横店影城</span>
                    <span class="dian"></span>
                </div>

                <div class="bottom">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        </div>
    </div>


    <div class="historyBox">
        <div class="inner">
            <div class="historySearch">
                <h3 class="the">the</h3>
                <h3 class="xuan">FEILEIXUAN</h3>
                <h3 class="circle">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </h3>
                <h3 class="HistoryText">
                    <span style="color: #e62923">路线玩法</span>
                    <span></span>
                    <span></span>
                    <span></span>
                </h3>
            </div>
            <div class="level">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <!--<div class="historyChange">-->
            <!--&lt;!&ndash;<a href=""><span>换一换</span></a>&ndash;&gt;-->
            <!--</div>-->
        </div>
    </div>
    <div class="container">
        <a href="/index.php/index/order_route"><div class="list">
            <div class="left">
                <span>北京</span>
                <span>shaoxing</span>
            </div>
            <div class="right  bgcolor">
                <h2>北京3日玩法</h2>
                <p>43%初次访问杭州的旅友会选择这条线路</p>
                <div class="nowarp"><span>一说到绍兴，脑海中第一个出来的自然是鲁讯,从百</span></div>
                <div class="set">
                    <span>车程204小时 </span>
                    <span>|</span>
                    <span>人均600元起</span>
                    <span>|</span>
                    <span>天数3天</span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>

                </div>
            </div>
        </div>
        </a>
        <a href="/index.php/index/order_route"><div class="list">
            <div class="left">
                <span>北京</span>
                <span>shaoxing</span>
            </div>
            <div class="right">
                <h2>北京3日玩法</h2>
                <p>43%初次访问杭州的旅友会选择这条线路</p>
                <div class="nowarp"><span>一说到绍兴，脑海中第一个出来的自然是鲁讯,从百</span></div>
                <div class="set">
                    <span>车程204小时 </span>
                    <span>|</span>
                    <span>人均600元起</span>
                    <span>|</span>
                    <span>天数3天</span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>

                </div>

            </div>
        </div>
        </a>
        <a href="/index.php/index/order_route"><div class="list">
            <div class="left">
                <span>北京</span>
                <span>shaoxing</span>
            </div>
            <div class="right">
                <h2>北京3日玩法</h2>
                <p>43%初次访问杭州的旅友会选择这条线路</p>
                <div class="nowarp"><span>一说到绍兴，脑海中第一个出来的自然是鲁讯,从百</span></div>
                <div class="set">
                    <span>车程204小时 </span>
                    <span>|</span>
                    <span>人均600元起</span>
                    <span>|</span>
                    <span>天数3天</span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>

                </div>
                 </div>
            </div>
        </a>
        </div>

    </div>

</div>
