<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="<?php echo CSS_PATH ?>bootstrap.min.css">
    <script src="<?php echo JS_PATH ?>jquery.js"></script>
    <script src="<?php echo JS_PATH ?>bootstrap.min.js"></script>
</head>
<body>

<link rel="stylesheet" href="<?php echo CSS_PATH ?>process/overview.css">


<div class="headerTop">
    <div class="headerInfo"></div>
    <div class="headerCon">
        <div class="inner">
            <div class="moreBut">
                <a href="#" onclick="javascript:history.back(-1)"></a>
            </div>
            <ul class="titleBox">
                <li class="left-r"></li>
                <li class="title">
                    <span class="chinese">我想去</span>
                    <span class="english"><span style="color:#F80807;">SET</span>TING UP</span>
                </li>
                <li class="right-r"></li>
            </ul>
            <div class="mapBut">
                <a href=""></a>
            </div>
        </div>
    </div>
</div>






<div class="content">
    <div class="hot_scene">
        <div class="bg">
            <h2>热门景区</h2>
        </div>
        <ul>
            <li>
                <div class="xiaobj"></div>
                    <a href="">热门景区</a>
                <div class="xiaobj"></div>

            </li>
            <li>
                <div class="xiaobj"></div>
                <a href="">周边地区</a>
                <div class="xiaobj"></div>
            </li>
            <li>
                <div class="xiaobj"></div>
                <a href="">华东地区</a>
                <div class="xiaobj"></div>

            </li>
            <li>
                <div class="xiaobj"></div>
                <a href="">华北地区</a>
                <div class="xiaobj"></div>
            </li>
            <li>
                <div class="xiaobj"></div>
                <a href="">华南地区</a>
                <div class="xiaobj"></div>
            </li>
            <li>
                <div class="xiaobj"></div>
                <a href="">华中地区</a>
                <div class="xiaobj"></div>
            </li>
            <li>
                <div class="xiaobj"></div>
                <a href="">东北地区</a>
                <div class="xiaobj"></div>
            </li>
            <li>
                <div class="xiaobj"></div>
                <a href="">西南地区</a>
                <div class="xiaobj"></div>
            </li>
            <li>
                <div class="xiaobj"></div>
                <a href="">西北地区</a>
                <div class="xiaobj"></div>
            </li>
            <li>
                <div class="xiaobj"></div>
                <a href="">西南地区</a>
                <div class="xiaobj"></div>
            </li>
            <li>
                <div class="xiaobj"></div>
                <a href="">港澳台</a>
                <div class="xiaobj"></div>
            </li>
        </ul>
    </div>
    <div class="hot_target">
        <div class="title">
            <div class="left"></div>
            <div class="right">
                <h1>热门目的地</h1>
            </div>
        </div>
        <div class="con">
            <div class="page">
                <a href="/index.php/index/show"><div class="cubeyi"></div></a>
                <a href="/index.php/index/show"><div class="cubeer"></div></a>
                <a href="/index.php/index/show"><div class="cubesan"></div></a>
                <a href="/index.php/index/show"><div class="cubesi"></div></a>
            </div>
            <div class="list">

                <ul>
                    <li class="active"><a href="" class="active">江浙沪</a></li>
                    <li><a href="">上海</a></li>
                    <li><a href="">无锡</a></li>
                    <li><a href="">南京</a></li>
                    <li><a href="">苏州</a></li>
                    <li><a href="">宁波</a></li>
                    <li><a href="">绍兴</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>