<?php include VIEW.'default/header.html'?>


<link rel="stylesheet" href="<?php echo CSS_PATH?>bootstrap.min.css">
<script src="<?php echo CSS_PATH?>jquery.js"></script>
<script src="<?php echo JS_PATH?>bootstrap.min.js"></script>
<!--<link rel="stylesheet" href="../../../../Static/default/css/process/overview.css">-->
<!--<link rel="stylesheet" href="../../../../Static/default/css/process/require.css">-->
<link rel="stylesheet" href="<?php echo CSS_PATH?>process/require.css">
<link rel="stylesheet" href="<?php echo CSS_PATH?>process/overview.css">
<div class="headerTop">
    <div class="headerInfo"></div>
    <div class="headerCon">
        <div class="inner">
            <div class="moreBut">
                <a href="#" onclick="javascript:history.back(-1)"></a>
            </div>
            <ul class="titleBox">
                <li class="left-r"></li>
                <li class="title">
                    <span class="chinese">定制要求</span>
                    <span class="english"><span style="color:#F80807;">SET</span>TING UP</span>
                </li>
                <li class="right-r"></li>
            </ul>
            <div class="mapBut">
                <a href=""></a>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="historyBox">
        <div class="inner">
            <div class="historySearch">
                <h3 class="the">the</h3>
                <h3 class="xuan">FEILEIXUAN</h3>
                <h3 class="circle">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </h3>
                <h3 class="HistoryText">
                    <span style="color: #e62923">我想去</span>
                    <span></span>
                    <span></span>
                    <span></span>
                </h3>
            </div>
            <div class="level">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <!--<div class="historyChange">-->
                <!--&lt;!&ndash;<a href=""><span>换一换</span></a>&ndash;&gt;-->
            <!--</div>-->
        </div>
    </div>
    <div class="make beijing">
        <div class="name">
            <span>北</span>
            <span>京</span>
        </div>
        <div class="pin">
            BEIJING
        </div>
        <ul></ul>
    </div>



    <div class="historyBox">
        <div class="inner">
            <div class="historySearch">
                <h3 class="the">the</h3>
                <h3 class="xuan">FEILEIXUAN</h3>
                <h3 class="circle">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </h3>
                <h3 class="HistoryText">
                    <span style="color: #e62923">我想去</span>
                    <span></span>
                    <span></span>
                    <span></span>
                </h3>
            </div>
            <div class="level">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <div class="make chose">
        <div class="name"></div>
        <ul>
            <li>玩水</li>
            <li>泛舟</li>
            <li>休闲</li>
            <li>古迹</li>
            <li>观光</li>
            <li>玩水</li>
            <li>祈福</li>
            <li>建筑</li>
            <li>登山</li>
            <li>璧画</li>
            <li>徒步</li>
            <li>园林</li>
        </ul>
    </div>






    <div class="historyBox">
        <div class="inner">
            <div class="historySearch">
                <h3 class="the">the</h3>
                <h3 class="xuan">FEILEIXUAN</h3>
                <h3 class="circle">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </h3>
                <h3 class="HistoryText">
                    <span style="color: #e62923">我想去</span>
                    <span></span>
                    <span></span>
                    <span></span>
                </h3>
            </div>
            <div class="level">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

   <div class="message">
       <div class="con">
           <div class="icon"></div>
           <h5>出游时间</h5>
           <input type="text" value="请选择出游时间">
       </div>
       <div class="con">
           <div class="icon"></div>
           <h5>出游时间</h5>
           <div class="count">
               <div class="solid">
                   <span class="red"></span>
                   <span class="redpoint"></span>
                   <span class="orange">
                         <div class="circle">
                             <div class="point"></div>
                         </div>
                   </span>
                   <span class="redpoint"></span>
                   <span class="orange">
                       <div class="circle">
                           <div class="point"></div>
                       </div>
                   </span>
                   <span class="redpoint"></span>
                   <span class="red"></span>
               </div>
               <div class="num">
                   <span>1天</span>
                   <span>3天</span>
                   <span>5天</span>
                   <span>7天</span>

               </div>
           </div>
       </div>
       <div class="con">
           <div class="icon"></div>
           <h5>出游时间</h5>
           <div class="count">
               <div class="solid">
                   <span class="red"></span>
                   <span class="redpoint"></span>
                   <span class="orange"></span>
                   <span class="redpoint"></span>
                   <span class="orange"></span>
                   <span class="redpoint"></span>
                   <span class="red"></span>
               </div>
               <div class="num">
                   <span>0元</span>
                   <span>300元</span>
                   <span>500元</span>
                   <span>不限</span>
               </div>
           </div>
       </div>
   </div>


</div>


<div class="footer">
    <a href="/index.php/index/method">
        <h2>立即预定</h2>
        <span>HUODNGTUIJIAN</span>
    </a>
</div>
</body>
</html>