<?php include VIEW.'default/header.html'?>
<script src="<?php echo JS_PATH?>jquery.js"></script>
<link rel="stylesheet" href="<?php echo CSS_PATH?>process/require.css">
<link rel="stylesheet" href="<?php echo CSS_PATH?>process/overview.css">
<link rel="stylesheet" href="<?php echo CSS_PATH?>process/write.css">


<div class="headerTop">
    <div class="headerInfo"></div>
    <div class="headerCon">
        <div class="inner">
            <div class="moreBut">
                <a href="#" onclick="javascript:history.back(-1)"></a>
            </div>
            <ul class="titleBox">
                <li class="left-r"></li>
                <li class="title">
                    <span class="chinese">填写订单</span>
                    <span class="english"><span style="color:#F80807;">SET</span>TING UP</span>
                </li>
                <li class="right-r"></li>
            </ul>
            <div class="mapBut">
                <a href=""></a>
            </div>
        </div>
    </div>
</div>
<div class="content">
   <div class="product">

       <div class="left">
           <div class="leftcon">
               <h2>中国故宫</h2>
               <div class="level">
                   <div class="pat"></div>
                   <div class="solid"></div>
                   <div class="pat"></div>
               </div>
               <span>china's palace</span>
           </div>
       </div>
       <div class="right">
           <div class="rightcon">
           <div class="title">
               <span>【</span>
               <span>伦比</span>
               <span>中国故宫</span>
               <span>】</span>
           </div>
           <div class="con">
               <span>上午场</span>
               <span>北京故宫门票</span>
           </div>
           <div>
               <span>成人</span>
               <span class="scroll"></span>
               <span>淡季</span>
           </div>
            <div class="connact">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
       </div>
       </div>


       <div class="out">

       </div>
   </div>




    <div class="resert">
        <div class="resertcon">
        <div>中国故宫一日游(成人)</div>
        <div class="column">
            <div class="row">
                <div class="cube"></div>
                 <span>出现日期：2017-03-21</span>
            </div>
            <div class="row">
                <div class="cube"></div>
                <span>购买数量：1</span>
            </div>
        </div>

       </div>
</div>


    <div class="message">
    <dl>
        <dt>
            <span class="core"></span>
            <span class="people">预定人信息</span>
            <span>(用于接收订单反馈)</span>
        </dt>
        <dd>
            <span class="name">联系人</span>
            <input type="text" placeholder="请填写联系人姓名">
        </dd>
        <dd>
            <span class="name">联系电话</span>
            <input type="text" placeholder="请填写联系人电话">
        </dd>
        <dd class="name hash">
            <span>验证码</span>
           <span class="get">获取验证码</span>
        </dd>
        <dd class="name">邮箱</dd>
        <dd class="name">备注</dd>

    </dl>

    </div>


    <div class="message">
        <dl>
            <dt>
                <span class="core"></span>
                <span class="people">优惠信息信息</span>
                <span class="empty"></span>
            </dt>
            <dd>
                <span class="name">使用优惠券</span>
                <input type="text" placeholder="选择优惠券">
            </dd>
        </dl>

    </div>



    <div class="http">
        <span>点击”提交订单“表示已阅读并同意</span>
        <span>
           《初寻商城服务使用协议》
        </span>
    </div>

</div>


<div class="footer">
   <span>总价：</span>
    <span>￥</span>
    <span class="price">180</span>
    <a href="/index.php/index/confirm">
        <div class="redcon">
        <div class="con">
        <span>提交订单</span>
        <span>...</span>
        <span> early find help</span>
        </div>
    </div>
    </a>
</div>
<?php include VIEW.'default/footer.html'?>