@charset "UTF-8";
/*函数*/
/*@function bg(){
	$r:floor(random()*56+200);
	$g:floor(random()*56);
	$b:floor(random()*56);
	$color:rgb($r,$g,$b);
	@debug $color;  
	@return $color;
}*/
@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media screen and (min-width: 365px) {
  html {
    font-size: 48.66667px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media screen and (min-width: 384px) {
  html {
    font-size: 51.2px; } }

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

@media screen and (min-width: 600px) {
  html {
    font-size: 80px; } }

@media screen and (min-width: 750px) {
  html {
    font-size: 100px; } }

body {
  font-size: 16px; }

@font-face {
  font-family: Wyue;
  src: url(../fonts/文悦古体仿宋.otf); }

@font-face {
  font-family: leftp;
  src: url(../fonts/font_pnt9i8feioyfogvi/iconfont.woff); }

@font-face {
  font-family: edit;
  src: url(../fonts/font_2ufxsdqp0b4t2o6r/iconfont.woff); }

@font-face {
  font-family: heart;
  src: url(../fonts/font_iy9aleziz1if6r/iconfont.woff); }

@font-face {
  font-family: forward;
  src: url(../fonts/font_tf3e62n9i1ss8aor/iconfont.woff); }

.inner {
  width: 100%;
  height: 100%;
  padding: 0 5%; }

body {
  width: 100%;
  height: 100%;
  background: url("../../images/bx-background.jpg") center/cover no-repeat; }

.table {
  width: 100%;
  height: 1.2rem;
  padding-top: 0.22rem; }
  .table .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .table .content .go-prev {
    display: block;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background: #c6b390;
    font-size: 0.3rem;
    color: #fff;
    font-weight: 700;
    text-align: center;
    line-height: 0.6rem;
    font-family: 'leftp',sans-serif; }
    .table .content .go-prev::before {
      content: '\e60b'; }
  .table .content .titleBox {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .table .content .titleBox .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap; }
      .table .content .titleBox .title .chinese {
        font-size: 0.46rem;
        color: #fff;
        font-weight: 400;
        font-family: 'Wyue',sans-serif; }
      .table .content .titleBox .title .line {
        width: 0.84rem;
        height: 0.1rem;
        background: url("../../images/wzj-gz5.png") center/cover no-repeat; }
      .table .content .titleBox .title .english {
        margin-top: 2%;
        font-size: 0.23rem;
        color: #fff;
        font-weight: 400;
        font-family: 'Wyue',sans-serif; }
  .table .content .people {
    display: block;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background: #c6b390;
    text-align: center;
    line-height: 0.6rem;
    font-family: 'peo',sans-serif;
    font-size: 0.3rem;
    color: #fff;
    font-weight: 700; }
    .table .content .people::before {
      content: '\e61d'; }

.tellWindows {
  height: 10.52rem;
  margin-top: 0.27rem; }
  .tellWindows .tell_window {
    width: 100%;
    height: 10.52rem;
    height: 100%;
    background: url("../../images/wzj-tell1.png") center/cover no-repeat;
    border-radius: 0.15rem; }
  .tellWindows .tell_window .con {
    height: 8.16rem;
    padding: 0.7rem 0.27rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .tellWindows .tell_window .con .doing {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .tellWindows .tell_window .con .doing.friends {
      width: 4.65rem;
      height: 1.65rem;
      position: relative; }
      .tellWindows .tell_window .con .doing.friends .head {
        width: 1.11rem;
        height: 1.05rem;
        background: url("../../images/wzj-tell4.png") center/cover no-repeat;
        position: relative;
        z-index: 12; }
        .tellWindows .tell_window .con .doing.friends .head img {
          width: 1.06rem;
          height: 1.06rem;
          border-radius: 50%; }
      .tellWindows .tell_window .con .doing.friends .cont {
        width: 3.85rem;
        height: 1.65rem;
        background: url("../../images/wzj-tell2.png") center/cover no-repeat;
        position: absolute;
        top: 0;
        left: 0.8rem; }
    .tellWindows .tell_window .con .doing.me {
      width: 3.58rem;
      height: 1.46rem; }
    .tellWindows .tell_window .con .time {
      width: 1.38rem;
      height: 0.56rem; }
