@charset "UTF-8";
/*函数*/
/*@function bg(){
	$r:floor(random()*56+200);
	$g:floor(random()*56);
	$b:floor(random()*56);
	$color:rgb($r,$g,$b);
	@debug $color;  
	@return $color;
}*/
@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media screen and (min-width: 365px) {
  html {
    font-size: 48.66667px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media screen and (min-width: 384px) {
  html {
    font-size: 51.2px; } }

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

@media screen and (min-width: 600px) {
  html {
    font-size: 80px; } }

@media screen and (min-width: 750px) {
  html {
    font-size: 100px; } }

body {
  font-size: 16px; }

@font-face {
  font-family: Wyue;
  src: url(../fonts/文悦古体仿宋.otf); }

@font-face {
  font-family: leftp;
  src: url(../fonts/font_pnt9i8feioyfogvi/iconfont.woff); }

@font-face {
  font-family: edit;
  src: url(../fonts/font_2ufxsdqp0b4t2o6r/iconfont.woff); }

@font-face {
  font-family: heart;
  src: url(../fonts/font_iy9aleziz1if6r/iconfont.woff); }

@font-face {
  font-family: forward;
  src: url(../fonts/font_tf3e62n9i1ss8aor/iconfont.woff); }

.inner {
  width: 100%;
  height: 100%;
  padding: 0 5%; }

body {
  width: 100%;
  height: 100%;
  background: url("../../images/bx-background.jpg") center/cover no-repeat; }

.table {
  width: 100%;
  height: 1.2rem;
  padding-top: 0.22rem; }
  .table .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .table .content .go-prev {
    display: block;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background: #c6b390;
    font-size: 0.3rem;
    color: #fff;
    font-weight: 700;
    text-align: center;
    line-height: 0.6rem;
    font-family: 'leftp',sans-serif; }
    .table .content .go-prev::before {
      content: '\e60b'; }
  .table .content .titleBox {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .table .content .titleBox .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap; }
      .table .content .titleBox .title .chinese {
        font-size: 0.46rem;
        color: #fff;
        font-weight: 400;
        line-height: 0.3rem; }
      .table .content .titleBox .title .line {
        width: 0.84rem;
        height: 0.1rem;
        background: url("../../images/wzj-gz5.png") center/cover no-repeat; }
      .table .content .titleBox .title .english {
        margin-top: 2%;
        font-size: 0.23rem;
        color: #fff;
        font-weight: 400; }
  .table .content .people {
    display: block;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background: #c6b390;
    text-align: center;
    line-height: 0.6rem;
    font-family: 'peo',sans-serif;
    font-size: 0.3rem;
    color: #fff;
    font-weight: 700; }
    .table .content .people::before {
      content: '\e61d'; }

.tellWindows {
  height: 11.55rem;
  margin-top: 0.27rem;
  overflow: hidden; }
  .tellWindows .tell-window {
    width: 7.03rem;
    height: 10.54rem;
    margin: 0 auto;
    height: 100%;
    background: url("../../images/wzj-tell1.png") center/cover no-repeat;
    border-radius: 0.15rem; }
  .tellWindows .tell-window .con {
    height: 8.75rem;
    padding: 0.7rem 0.27rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .tellWindows .tell-window .con .doing {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .tellWindows .tell-window .con .doing .cont {
        padding: 0.16rem 0.15rem 0 0.64rem; }
      .tellWindows .tell-window .con .doing .cont .talk {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: space-around; }
      .tellWindows .tell-window .con .doing .cont .talk .date {
        height: 0.18rem;
        width: 100%;
        align-items: center;
        display: flex;
        font-size: 0.24rem; }
        .tellWindows .tell-window .con .doing .cont .talk .date span:nth-child(1) {
          color: #A9A8A6;
          padding-right: 0.1rem;
          font-weight: 700; }
        .tellWindows .tell-window .con .doing .cont .talk .date span:nth-child(2) {
          color: #A4A4A4;
          padding-right: 0.1rem; }
      .tellWindows .tell-window .con .doing .cont .talk .line {
        width: 3.03rem;
        height: 0.15rem;
        background: url("../../images/wzj-tell5.png"); }
      .tellWindows .tell-window .con .doing .cont .talk .wenzi {
        font-size: 0.2rem;
        color: #676767;
        padding-right: 0.13rem;
        padding-top: 0.1rem; }
      .tellWindows .tell-window .con .doing .cont .talk .len {
        display: flex; }
        .tellWindows .tell-window .con .doing .cont .talk .len .voice {
          width: 2.35rem;
          height: 0.29rem;
          background: url("../../images/wzj-tell7.png") center/cover no-repeat;
          padding-top: 0.23rem;
          margin-right: 0.1rem; }
        .tellWindows .tell-window .con .doing .cont .talk .len span {
          font-size: 0.3rem;
          color: #9F9F9F; }
    .tellWindows .tell-window .con .doing.friends {
      width: 4.65rem;
      height: 1.65rem;
      position: relative; }
      .tellWindows .tell-window .con .doing.friends .head {
        width: 1.11rem;
        height: 1.05rem;
        background: url("../../images/wzj-tell4.png") center/cover no-repeat;
        position: relative;
        z-index: 12; }
        .tellWindows .tell-window .con .doing.friends .head img {
          width: 1.06rem;
          height: 1.06rem;
          border-radius: 50%;
          position: absolute;
          top: -0.05rem; }
      .tellWindows .tell-window .con .doing.friends .cont {
        width: auto;
        height: 1.65rem;
        background: url("../../images/wzj-tell2.png") center/cover no-repeat;
        position: absolute;
        top: 0;
        left: 0.8rem; }
      .tellWindows .tell-window .con .doing.friends .cont .talk .name {
        font-size: 0.3rem;
        color: #333333; }
        .tellWindows .tell-window .con .doing.friends .cont .talk .name span:nth-child(1) {
          color: #DE1D19; }
    .tellWindows .tell-window .con .doing.friends.fails {
      width: 5.37rem; }
      .tellWindows .tell-window .con .doing.friends.fails .fail {
        width: 0.55rem;
        height: 0.55rem;
        border-radius: 50%;
        background: #F31D19;
        text-align: center;
        color: #fff;
        line-height: 0.7rem;
        font-size: 0.6rem; }
      .tellWindows .tell-window .con .doing.friends.fails .cont {
        width: 3.85rem; }
    .tellWindows .tell-window .con .doing.me {
      width: 3.58rem;
      height: 1.46rem;
      background: url("../../images/wzj-tell3.png") center/cover no-repeat;
      align-self: flex-end; }
      .tellWindows .tell-window .con .doing.me .cont {
        padding: 0.16rem 0.15rem 0 0.3rem; }
      .tellWindows .tell-window .con .doing.me .cont .talk {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: space-around; }
      .tellWindows .tell-window .con .doing.me .cont .talk .date {
        height: 0.18rem;
        width: 100%;
        align-items: center;
        display: flex;
        font-size: 0.24rem;
        justify-content: flex-end; }
        .tellWindows .tell-window .con .doing.me .cont .talk .date span:nth-child(1) {
          color: #A9A8A6;
          padding-right: 0.1rem;
          font-weight: 700; }
        .tellWindows .tell-window .con .doing.me .cont .talk .date span:nth-child(2) {
          color: #A4A4A4;
          padding-right: 0.1rem; }
    .tellWindows .tell-window .con .time {
      width: 1.42rem;
      height: 0.56rem;
      background: url("../../images/wzj-tell6.png") center/cover no-repeat;
      align-self: center;
      text-align: center;
      line-height: 0.60rem; }
      .tellWindows .tell-window .con .time span:nth-child(1) {
        color: #555D62;
        font-size: 0.2rem;
        margin: 0 0.1rem; }
      .tellWindows .tell-window .con .time span:nth-child(2) {
        color: #CC3431;
        font-size: 0.3rem; }
  .tellWindows .foot {
    width: 100%;
    height: 1.03rem;
    background: #000; }
    .tellWindows .foot .input_box {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .tellWindows .foot .input_box .microphone {
      width: 0.7rem;
      height: 0.7rem;
      border-radius: 50%;
      background: #F31D19;
      border: 0.03rem solid #2A2C35; }
    .tellWindows .foot .input_box input {
      width: 4.89rem;
      height: 0.6rem;
      border-radius: 0.8rem;
      outline: none; }
    .tellWindows .foot .input_box .more {
      width: 0.4rem;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .tellWindows .foot .input_box .more .circle {
        width: 0.1rem;
        height: 0.1rem;
        border-radius: 50%;
        background: #F31D19; }
  .tellWindows .kind {
    opacity: 0;
    background: url("../../images/wzj-tell8.png") center/cover no-repeat;
    width: 100%;
    height: 4.3rem;
    display: flex;
    justify-content: center; }
    .tellWindows .kind .kind-wrap {
      width: 6.56rem;
      height: 3.96rem;
      display: flex;
      flex-wrap: wrap;
      align-content: space-around; }
      .tellWindows .kind .kind-wrap .warp {
        width: 100%;
        height: 1.52rem;
        display: flex;
        justify-content: space-between; }
    .tellWindows .kind .kind-wrap .warp .box {
      width: 2.08rem;
      height: 1.52rem;
      background: url("../../images/wzj-tell9.png") center/cover no-repeat;
      position: relative; }
      .tellWindows .kind .kind-wrap .warp .box img {
        width: 0.9rem;
        height: 0.9rem;
        position: absolute;
        top: 0.19rem;
        left: 0.28rem; }
      .tellWindows .kind .kind-wrap .warp .box .names {
        width: 0.66rem;
        height: 1.52rem;
        position: absolute;
        bottom: 0;
        right: 0;
        text-align: center;
        color: #DD1F1B;
        font-size: 0.24rem; }
        .tellWindows .kind .kind-wrap .warp .box .names .first {
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
          top: 0.4rem; }
        .tellWindows .kind .kind-wrap .warp .box .names .second {
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
          bottom: 0.28rem; }
