@charset "UTF-8";
/*函数*/
/*@function bg(){
	$r:floor(random()*56+200);
	$g:floor(random()*56);
	$b:floor(random()*56);
	$color:rgb($r,$g,$b);
	@debug $color;  
	@return $color;
}*/
@import url(../base.css);
@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media screen and (min-width: 365px) {
  html {
    font-size: 48.66667px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media screen and (min-width: 384px) {
  html {
    font-size: 51.2px; } }

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

@media screen and (min-width: 600px) {
  html {
    font-size: 80px; } }

@media screen and (min-width: 750px) {
  html {
    font-size: 100px; } }

@media screen and (min-width: 933px) {
  html {
    font-size: 124.4px; } }

body {
  font-size: 16px; }

.prompt {
  margin-top: 0.24rem;
  padding-left: 0.24rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #d8c39b; }

.message {
  margin-bottom: 0; }

dt span:nth-child(3) {
  width: 50%; }

.resert {
  margin: 0;
  background: none;
  height: auto;
  margin-top: 0.3rem; }
  .resert .resertcon {
    font-size: 0.5rem;
    padding: 0;
    color: #fff;
    height: auto; }
    .resert .resertcon .column {
      margin-top: 0.3rem;
      color: #96959b; }

.level {
  width: 100%;
  padding-left: 0.24rem;
  padding-right: 0.24rem;
  padding-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff; }
  .level .red_point {
    color: red; }

.pay {
  width: 100%;
  color: #575659;
  margin-bottom: 1.19rem;
  font-size: 0.28rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 0.5rem; }
  .pay .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -0.3rem; }
  .pay .paycon {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .pay .price {
    font-size: 0.8rem;
    color: red;
    font-weight: bold;
    margin-bottom: -0.3rem; }
  .pay .img {
    width: 0.6rem;
    height: 0.6rem;
    background: url("../../images/zl-pay_03.png") center/cover no-repeat;
    margin-right: 0.3rem; }
  .pay .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  font-size: 0.24rem; }
  .footer .top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    margin-left: 1.3rem; }
  .footer .bottom {
    display: flex;
    justify-content: flex-start; }
