body,p,pre,ul,ol,li,dl,dt,dd,form,input,h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
}
ul,li,ol,dl,dt,dd{
	list-style:none;
}
a{
	text-decoration:none;
}
img{
	border:0;
}
<<<<<<< HEAD

s,i{
    font-style: normal;
    text-decoration: none;
}

*{
    font-family: 'Microsoft Himalaya',sans-serif;
    position: relative;
    box-sizing: border-box;
}



=======
>>>>>>> bcc82118dfc80863336a66f971e8a5627162a7b2
