<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Document</title>
    <link rel="stylesheet" href="<?php echo CSS_PATH?>rcss/index.css">
</head>
<body>
<img src="<?php echo IMG_PATH?>rui001.jpg" alt="">
    <div class="head">
        <div class="text">
            <div class="s"><h2>O N E</h2></div>
            <div class="s"><h2 class="message">基础信息的完善</h2></div>
            <div class="s"><h5>J.C.X.X.W.S</h5></div>
            <div class="s"><p>1</p></div>
        </div>
    </div>
    <div class="center">
        <div class="enroll">
            <div class="seek">
                <i class="i"></i>
                <input type="text" placeholder="选择中文/英文/作为用户名" class="login" style='border-left:0px;border-top:0px;border-right:0px;border-bottom:1px;outline:none;'>
            </div>
            <div class="seek">
                <div class="seeks">
                    <i class="key"></i>
                    <input type="text" placeholder="选择6位密码进行填写" class="login" style='border-left:0px;border-top:0px;border-right:0px;border-bottom:1px;outline:none;'>
                </div>

            </div>
            <div class="seek">
                <i class="key"></i>
                <input type="text" placeholder="再次填写注册密码" class="login" style='border-left:0px;border-top:0px;border-right:0px;border-bottom:1px;outline:none;'>
            </div>
        </div>
        <div class="bottom">
            <a href="" class="next">下一步 i</a>
            <p class="nsis">HUODNGTUIJIAN</p>
        </div>
    </div>
</body>
</html>