<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="<?php echo CSS_PATH?>bx/add-card.css">
    <link rel="stylesheet" href="<?php echo CSS_PATH?>css/base.css">
</head>
<body>
<div class="choose-card-top">
    <div class="table">
        <div class="inner">
            <div class="content">
                <a href="##" class="go-prev"></a>
                <ul class="titleBox">

                </ul>
                <div class="add"></div>
            </div>
        </div>
    </div>
    <ul class="header">
        <li class="photo-box">
            <div class="photo"></div>
        </li>
        <li class="user-name">Dora</li>
        <li class="motto"><span>美是一种选择，甚至是一种放弃</span></li>
    </ul>
</div>
<div class="add-card-info">
    <div class="inner">
        <div class="add-card">
            <div class="card card1">
                <div class="bank-logo">
                    <ul class="bank">
                        <li class="bank-c"></li>
                        <li class="bank-c "></li>
                        <i>BANK</i>
                    </ul>
                </div>
                <ul class="card-info">
                    <li class="card-item">CHINA ZHAOSHANGBANK
                        <span class="point">。</span></li>
                    <li class="card-item"></li>
                    <span class="card-item">6219******************6580</span>
                </ul>
        </div>
        </div>
        <ul class="add-user-info">
            <li class="info user-name">
                <div class="info-kind">
                    <h3 >银行卡号</h3>
                    <h6><span style="color:#ff2121;">Ban</span>knumber</h6>
                </div>
                <input type="text" name="number">
            </li>
            <li class="info id-card">
                <div class="info-kind">
                    <h3 >身份证号</h3>
                    <h6><span style="color:#ff2121;">San</span>banknumber</h6>
                </div>
                <input type="text" name="id">
                <div class="red-id">身份证</div>
            </li>
            <li class="info bank-name">
                <div class="info-kind">
                    <h3 >开户行</h3>
                    <h6><span style="color:#ff2121;">Ban</span>kunmberen</h6>
                </div>
                <input type="text" name="bank_name">
            </li>
        </ul>
    </div>
</div>
<div class="footer">
    <span class="chinese">
        使用银行卡支付
        <div class="yy-parcel">
            <img src="<?php echo IMG_PATH?>bx-parcel-footer-bg.png" alt="">
        </div>
    </span>
    <span class="english">HUODNGTUIJIAN</span>
</div>
</body>
</html>