<?php include VIEW . "default/header.html" ?>

<title>选择银行卡</title>
<link rel="stylesheet" href="<?php echo CSS_PATH ?>bx/choose.css">


<div class="choose-card-top">
    <div class="table">
        <div class="inner">
            <div class="content">
                <a href="/index.php/index/payment" class="go-prev"></a>
                <ul class="titleBox">

                </ul>
                <a href="/index.php/index/confirm_add" class="add">添加银行卡</a>
            </div>
        </div>
    </div>
    <ul class="header">
        <li class="photo-box">
            <div class="photo"></div>
        </li>
        <li class="user-name">Dora</li>
        <li class="motto"><span>美是一种选择，甚至是一种放弃</span></li>
    </ul>
</div>
<div class="choose-card-bottom">
    <div class="inner">
        <ul class="cards">
            <li class="card card1">
                <div class="bank-logo">
                    <ul class="bank">
                        <li class="bank-c"></li>
                        <li class="bank-c "></li>
                        <i>BANK</i>
                    </ul>
                </div>
                <ul class="card-info">
                    <li class="card-item">CHINA ZHAOSHANGBANK
                        <span class="point">。</span></li>
                    <li class="card-item"></li>
                    <span class="card-item">6219******************6580</span>
                </ul>
            </li>
            <li class="card card2">
                <div class="bank-logo">
                    <ul class="bank">
                        <li class="bank-c"></li>
                        <li class="bank-c " style="background:#FF7186;"></li>
                        <i>BANK</i>
                    </ul>
                </div>
                <ul class="card-info">
                    <li class="card-item">CHINA ZHAOSHANGBANK<span class="point">。</span></li>
                    <li class="card-item"></li>
                    <span class="card-item">6219******************3203</span>
                </ul>
            </li>
            <li class="card card3">
                <div class="bank-logo">
                    <ul class="bank">
                        <li class="bank-c" style="background:#949494;"></li>
                        <li class="bank-c " style="background:#B3B3B3;"></li>
                        <i>BANK</i>
                    </ul>
                </div>
                <ul class="card-info">
                    <li class="card-item" style="color:#878787;">CHINA ZHAOSHANGBANK<span class="point"
                                                                                          style="color:#878787;">。</span>
                    </li>
                    <li class="card-item" style="background:#878787;"></li>
                    <span class="card-item" style="color:#878787;">6219******************6580</span>
                </ul>
            </li>
        </ul>
        <div class="long-line">
            <div class="line"></div>
        </div>
    </div>
</div>
<?php include VIEW . "default/footer.html"?>



<!--status-->