<?php include VIEW . "default/header.html" ?>

<title>确认银行卡</title>
<link rel="stylesheet" href="<?php echo CSS_PATH ?>bx/confirm-add.css">

<div class="choose-card-top">
    <div class="table">
        <div class="inner">
            <div class="content">
                <a href="/index.php/index/choose_card" class="go-prev"></a>
                <ul class="titleBox">

                </ul>
                <div class="add"></div>
            </div>
        </div>
    </div>
    <ul class="header">
        <li class="photo-box">
            <div class="photo"></div>
        </li>
        <li class="user-name">Dora</li>
        <li class="motto"><span>美是一种选择，甚至是一种放弃</span></li>
    </ul>
</div>
<div class="add-card-info">
    <div class="inner">
        <div class="add-card">
            <div class="card card1">
                <div class="bank-logo">
                    <ul class="bank">
                        <li class="bank-c"></li>
                        <li class="bank-c "></li>
                        <i>BANK</i>
                    </ul>
                </div>
                <ul class="card-info">
                    <li class="card-item">CHINA ZHAOSHANGBANK
                        <span class="point">。</span></li>
                    <li class="card-item"></li>
                    <span class="card-item">6219******************6580</span>
                </ul>
            </div>
        </div>
        <div class="h1">
            <div class="lion"></div>
            <h1>请绑定持卡人的银行卡</h1>
        </div>
        <ul class="add-user-info">
            <li class="info user-name">
                <div class="info-kind">
                    <h3>姓名</h3>
                    <h6><span style="color:#ff2121;">Ban</span>knumber</h6>
                </div>
                <input type="text" name="number" placeholder="请输入持卡人的姓名">
            </li>
            <li class="info id-card">
                <div class="info-kind">
                    <h3>银行卡号</h3>
                    <h6><span style="color:#ff2121;">San</span>banknumber</h6>
                </div>
                <input type="text" name="id" placeholder="请输入所持卡的银行卡号">
            </li>
            <li class="info bank-name">
                <div class="info-kind">
                    <h3>开户行</h3>
                    <h6><span style="color:#ff2121;">Ban</span>kunmberen</h6>
                </div>
                <input type="text" name="bank_name" placeholder="请输入所持卡的开户行">
            </li>
        </ul>
        <ul class="agree">
            <li class="confirm">√</li>
            <li class="agree-http">
                同意《
                <span style="color:#CEB490;">银行用户服务协议</span>
                》
            </li>
        </ul>
    </div>
</div>
<a href="/index.php/index/add_card" class="footer">
    <span class="chinese">
        确认添加
        <div class="yy-parcel">
            <img src="<?php echo IMG_PATH ?>bx-parcel-footer-bg.png" alt="">
        </div>
    </span>
    <span class="english">HUODNGTUIJIAN</span>
</a>
<?php include VIEW . "default/footer.html"?>
