<?php include VIEW . "default/header.html"?>

    <title>立减专区</title>
    <link rel="stylesheet" href="<?php echo CSS_PATH?>bx/package.css">

    <div class="table">
        <div class="inner">
            <div class="content">
                <div class="go-prev"></div>
                <ul class="titleBox">
                    <li class="left-r"></li>
                    <li class="title">
                        <h1 class="chinese">立减专区</h1>
                        <span class="english"><span style="color:#F80807;">FR</span>ONTIER ZONE</span>
                    </li>
                    <li class="right-r"></li>
                </ul>
                <div></div>
            </div>
        </div>
    </div>

    <div class="package">
        <div class="inner">
            <div class="new-p">
                <div class="historyBox">
                    <div class="historySearch">
                        <h3 class="the">the</h3>
                        <h3 class="xuan">FEILEIXUAN</h3>
                        <h3 class="circle">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </h3>
                        <h3 class="HistoryText">
                            <span style="color: #e62923;font-weight: bold">立减<span style="color:#fff;">专区</span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </h3>
                    </div>
                    <div class="level">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="package Recommend">
        <div class="inner">
            <div class="new-p" style="height:23.6%;">
                <div class="historyBox">
                    <div class="historySearch">
                        <h3 class="the">the</h3>
                        <h3 class="xuan">FEILEIXUAN</h3>
                        <h3 class="circle">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </h3>
                        <h3 class="HistoryText">
                            <span style="color: #e62923;font-weight: bold">热门<span style="color:#fff;">礼包</span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </h3>
                    </div>
                    <div class="level">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
            <ul class="play-kind">
                <li class="play-kind-item">
                    <div class="picture-show">
                        <div class="picture-item">
                            <h2 class="beijing">北京</h2>
                            <h3  class="shaoxing">SHAOXING</h3>
                        </div>

                    </div>
                    <ul class="content-item">
                        <li class="kind">北京3日玩法</li>
                        <li class="fen"></li>
                        <li class="total"><span style="color:#FFA300;">43%</span>初次访问杭州的旅友会选择这条路线</li>
                        <li class="desc">一说到绍兴，脑海里第一个出来的自然是鲁迅，从百</li>
                        <li class="product">
                            <div class="product-item">车程204小时</div>
                            <div class="product-item" style="color:#FFA300;margin:0 2%;font-weight: 700;">|</div>
                            <div class="product-item">人均600起</div>
                            <div class="product-item" style="color:#FFA300;margin:0 2%;font-weight:700;">|</div>
                            <div class="product-item">天数3天</div>
                        </li>
                    </ul>
                </li>
                <li class="play-kind-item">
                    <div class="picture-show">
                        <div class="picture-item">
                            <h2 class="beijing">北京</h2>
                            <h3  class="shaoxing">SHAOXING</h3>
                        </div>

                    </div>
                    <ul class="content-item">
                        <li class="kind">北京3日玩法</li>
                        <li class="fen"></li>
                        <li class="total"><span style="color:#FFA300;">43%</span>初次访问杭州的旅友会选择这条路线</li>
                        <li class="desc">一说到绍兴，脑海里第一个出来的自然是鲁迅，从百</li>
                        <li class="product">
                            <div class="product-item">车程204小时</div>
                            <div class="product-item" style="color:#FFA300;margin:0 2%;font-weight: 700;">|</div>
                            <div class="product-item">人均600起</div>
                            <div class="product-item" style="color:#FFA300;margin:0 2%;font-weight:700;">|</div>
                            <div class="product-item">天数3天</div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>






<?php include VIEW . "default/footer.html"?>