<?php include VIEW . "default/header.html" ?>

<title>支付失败</title>
<link rel="stylesheet" href="<?php echo CSS_PATH ?>bx/fail.css">
<div class="table">
    <div class="inner">
        <div class="content">
            <div class="go-prev"></div>
            <ul class="titleBox">
                <li class="left-r"></li>
                <li class="title">
                    <h1 class="chinese">订单支付</h1>
                    <span class="english"><span style="color:#F80807;">OR</span>DER PAYMENT</span>
                </li>
                <li class="right-r"></li>
            </ul>
            <div></div>
        </div>
    </div>
</div>


<div class="pay-kind">
    <ul class="inner">
        <li class="pay-k kind-one">
            <div class="left-p">
                <div class="photo-box">
                    <img src="<?php echo IMG_PATH ?>bx-payment-h1.png" alt="">
                    <div class="red"></div>
                </div>

                <div class="line"></div>
            </div>
            <div class="right-c">
                <ul class="k-title">
                    <li class="payment-title1">
                        <h2>本地钱包</h2>
                        <ul class="fairBox">
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </li>
                    <li class="payment-d">
                    </li>
                    <li class="payment-title2">
                        本地钱包完成支付和获得优惠和更多优惠
                    </li>
                </ul>
            </div>
        </li>
        <li class="pay-k kind-two">
            <div class="left-p">
                <div class="photo-box">
                    <img src="<?php echo IMG_PATH ?>bx-payment-h2.png" alt="">
                    <div class="red"></div>
                </div>
                <div class="line"></div>
            </div>
            <div class="right-c">
                <ul class="k-title">
                    <li class="payment-title1">
                        <h2>银行卡支付</h2>
                        <div class="num5">5
                        </div>
                    </li>
                    <li class="payment-d">
                    </li>
                    <li class="payment-title2">
                        使用绑定银行卡完成在线支付
                    </li>
                </ul>
            </div>
        </li>
        <li class="pay-ks"></li>
    </ul>
</div>


<div class="third">
    <ul class="inner">
        <li class="h1">
            <div class="lion"></div>
            <h1>第三方支付</h1>
        </li>
        <li class="kind">
            <div class="pay">
                <ul class="pay-item-box">
                    <li class="item1">支付宝支付</li>
                    <li class="item2"></li>
                    <li class="item3">
                        <span><span style="color:#ff0001;">Ali</span>pay payment</span>

                    </li>
                </ul>
            </div>
            <div class="pay wechat">
                <ul class="pay-item-box">
                    <li class="item1">微信支付</li>
                    <li class="item2"></li>
                    <li class="item3">
                        <span>WetChat payment</span>
                    </li>
                </ul>
            </div>
            <div class="pay tenpay">
                <ul class="pay-item-box">
                    <li class="item1">财付通支付</li>
                    <li class="item2"></li>
                    <li class="item3">
                        <span><span style="color:#ff0001;">Ten</span>pay payment</span>

                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>

<a href="/index.php/index/choose_card" class="footer">

    <span class="chinese">
        去支付
        <div class="yy-parcel">
            <img src="<?php echo IMG_PATH ?>bx-parcel-footer-bg.png" alt="">
        </div>
    </span>
    <span class="english">HUODNGTUIJIAN</span>
</a>


<div class="mask">
    <div class="content">
        <ul class="success-box">
            <li class="picture-item">
                <div class="point-line"></div>
            </li>
            <li class="item">
                <div class="success-item">
                    <h3 class="success-pay">支付失败</h3>
                    <h4 class="success-pay-english"><span style="color:#ff6060;">PAY</span>MENT FAILURE</h4>
                    <div class="red"></div>
                </div>
                <div class="fen-item"></div>
                <h4 class="discount-item">
                    <!--                    恭喜获得<span style="color:#ff0000;font-size:0.89rem;line-height:1.75rem;">10</span>元优惠券-->
                </h4>
            </li>
        </ul>
        <div class="receive">
            <div class="btn">
                <div class="recieve-c">
                    <div>重</div>
                    <div>新</div>
                    <div>输</div>
                    <div>入</div>
                </div>
            </div>
            <div class="btn">
                <div class="recieve-c">
                    <div>其</div>
                    <div>他</div>
                    <div>方</div>
                    <div>式</div>
                </div>
            </div>
        </div>
        <div class="close"></div>
        <div class="bird"></div>
    </div>
</div>
<?php include VIEW . "default/footer.html"?>
