<?php include VIEW . "default/header.html"?>

<title>支付成功</title>
<link rel="stylesheet" href="<?php echo CSS_PATH?>bx/package.css">

<div class="table">
    <div class="inner">
        <div class="content">
            <div class="go-prev"></div>
            <ul class="titleBox">
                <li class="left-r"></li>
                <li class="title">
                    <h1 class="chinese">新人礼包</h1>
                    <span class="english"><span style="color:#F80807;">NE</span>W PPACKAGE</span>
                </li>
                <li class="right-r"></li>
            </ul>
            <div></div>
        </div>
    </div>
</div>

<div class="package">
    <div class="inner">
        <div class="new-p">
            <div class="historyBox">
                <div class="historySearch">
                    <h3 class="the">the</h3>
                    <h3 class="xuan">FEILEIXUAN</h3>
                    <h3 class="circle">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </h3>
                    <h3 class="HistoryText">
                        <span style="color: #e62923">新人<span style="color:#fff;">礼包</span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </h3>
                </div>
                <div class="level">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>

        <ul class="money-kind">
            <li href="#" class="kinds">
                <div class="item">
                   <ul class="money">
                       <li class="m-f">￥</li>
                       <li class="m-s">50</li>
                   </ul>
                    <ul class="kind">
                        <li class="kind-item1">首次任意消费可领取</li>
                        <li class="kind-item2">
                            <div class="english-item1"></div>
                            <div class="english-item2"><h4>CHA</h4>T RECORD</div>
                            <div class="english-item3" ></div>
                        </li>
                    </ul>
                </div>
                <a class="look"></a>

            </li>
            <li href="#" class="kinds">
                <div class="item">
                    <ul class="money">
                        <li class="m-f">￥</li>
                        <li class="m-s">100</li>
                    </ul>
                    <ul class="kind">
                        <li class="kind-item1">首次任意消费满500领取</li>
                        <li class="kind-item2">
                            <div class="english-item1"></div>
                            <div class="english-item2"><h4>ACC</h4>OUNT SECURIT</div>
                            <div class="english-item3" ></div>
                        </li>
                    </ul>
                </div>
                <a class="look"></a>
            </li>
            <li href="#" class="kinds">
                <div class="item">
                    <ul class="money">
                        <li class="m-f">￥</li>
                        <li class="m-s">200</li>
                    </ul>
                    <ul class="kind">
                        <li class="kind-item1">首次任意消费满1000领取</li>
                        <li class="kind-item2">
                            <div class="english-item1"></div>
                            <div class="english-item2"><h4>CON</h4>TACTS PRIVACY</div>
                            <div class="english-item3" ></div>
                        </li>
                    </ul>
                </div>
                <a class="look"></a>
            </li>
        </ul>
    </div>
</div>


<div class="package Recommend"></div>

<?php include VIEW . "default/footer.html"?>
