<?php include VIEW . "default/header.html"?>

<title>支付成功</title>
<link rel="stylesheet" href="<?php echo CSS_PATH?>bx/package.css">

<div class="table">
    <div class="inner">
        <div class="content">
            <div class="go-prev"></div>
            <ul class="titleBox">
                <li class="left-r"></li>
                <li class="title">
                    <h1 class="chinese">新人礼包</h1>
                    <span class="english"><span style="color:#F80807;">NE</span>W PPACKAGE</span>
                </li>
                <li class="right-r"></li>
            </ul>
            <div></div>
        </div>
    </div>
</div>

<div class="package">
    <div class="inner">
        <div class="new-p">
            <div class="historyBox">
                <div class="historySearch">
                    <h3 class="the">the</h3>
                    <h3 class="xuan">FEILEIXUAN</h3>
                    <h3 class="circle">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </h3>
                    <h3 class="HistoryText">
                        <span style="color: #e62923;font-weight: bold">新人<span style="color:#fff;">礼包</span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </h3>
                </div>
                <div class="level">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>

        <ul class="money-kind">
            <li href="#" class="kinds">
                <div class="item">
                   <ul class="money">
                       <li class="m-f">￥</li>
                       <li class="m-s">50</li>
                   </ul>
                    <ul class="kind">
                        <li class="kind-item1">首次任意消费可领取</li>
                        <li class="kind-item2">
                            <div class="english-item1"></div>
                            <div class="english-item2"><h4>CHA</h4>T RECORD</div>
                            <div class="english-item3" ></div>
                        </li>
                    </ul>
                </div>
                <a class="look"></a>

            </li>
            <li href="#" class="kinds">
                <div class="item">
                    <ul class="money">
                        <li class="m-f">￥</li>
                        <li class="m-s">100</li>
                    </ul>
                    <ul class="kind">
                        <li class="kind-item1">首次任意消费满500领取</li>
                        <li class="kind-item2">
                            <div class="english-item1"></div>
                            <div class="english-item2"><h4>ACC</h4>OUNT SECURIT</div>
                            <div class="english-item3" ></div>
                        </li>
                    </ul>
                </div>
                <a class="look"></a>
            </li>
            <li href="#" class="kinds">
                <div class="item">
                    <ul class="money">
                        <li class="m-f">￥</li>
                        <li class="m-s">200</li>
                    </ul>
                    <ul class="kind">
                        <li class="kind-item1">首次任意消费满1000领取</li>
                        <li class="kind-item2">
                            <div class="english-item1"></div>
                            <div class="english-item2"><h4>CON</h4>TACTS PRIVACY</div>
                            <div class="english-item3" ></div>
                        </li>
                    </ul>
                </div>
                <a class="look"></a>
            </li>
        </ul>
    </div>
</div>


<div class="package Recommend">
    <div class="inner">
        <div class="new-p" style="height:23.6%;">
            <div class="historyBox">
                <div class="historySearch">
                    <h3 class="the">the</h3>
                    <h3 class="xuan">FEILEIXUAN</h3>
                    <h3 class="circle">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </h3>
                    <h3 class="HistoryText">
                        <span style="color: #e62923;font-weight: bold">热门<span style="color:#fff;">礼包</span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </h3>
                </div>
                <div class="level">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <ul class="play-kind">
            <li class="play-kind-item">
                <div class="picture-show">
                    <div class="picture-item">
                        <h2 class="beijing">北京</h2>
                        <h3  class="shaoxing">SHAOXING</h3>
                    </div>

                </div>
                <ul class="content-item">
                    <li class="kind">北京3日玩法</li>
                    <li class="fen"></li>
                    <li class="total"><span style="color:#FFA300;">43%</span>初次访问杭州的旅友会选择这条路线</li>
                    <li class="desc">一说到绍兴，脑海里第一个出来的自然是鲁迅，从百</li>
                    <li class="product">
                        <div class="product-item">车程204小时</div>
                        <div class="product-item" style="color:#FFA300;margin:0 2%;font-weight: 700;">|</div>
                        <div class="product-item">人均600起</div>
                        <div class="product-item" style="color:#FFA300;margin:0 2%;font-weight:700;">|</div>
                        <div class="product-item">天数3天</div>
                    </li>
                </ul>
            </li>
            <li class="play-kind-item">
                <div class="picture-show">
                    <div class="picture-item">
                        <h2 class="beijing">北京</h2>
                        <h3  class="shaoxing">SHAOXING</h3>
                    </div>

                </div>
                <ul class="content-item">
                    <li class="kind">北京3日玩法</li>
                    <li class="fen"></li>
                    <li class="total"><span style="color:#FFA300;">43%</span>初次访问杭州的旅友会选择这条路线</li>
                    <li class="desc">一说到绍兴，脑海里第一个出来的自然是鲁迅，从百</li>
                    <li class="product">
                        <div class="product-item">车程204小时</div>
                        <div class="product-item" style="color:#FFA300;margin:0 2%;font-weight: 700;">|</div>
                        <div class="product-item">人均600起</div>
                        <div class="product-item" style="color:#FFA300;margin:0 2%;font-weight:700;">|</div>
                        <div class="product-item">天数3天</div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="mask">
    <div class="content">
        <ul class="success-box">
            <li class="picture-item">
                <div class="point-line"></div>
            </li>
            <li class="item">
                <h4 class="discount-item">
                    恭喜获得<span style="color:#ff0000;font-size:0.89rem;line-height:1.75rem;">10</span>元优惠券
                </h4>

                <div class="fen-item"></div>
                <div class="success-item">

                </div>
            </li>
        </ul>
        <div class="receive">
            <div class="btn">
                <div class="recieve-c">
                    <div>立</div>
                    <div>即</div>
                    <div>领</div>
                    <div>取</div>
                </div>
                <h4 class="recieve-e">UANXIAN</h4>
            </div>
        </div>
        <div class="close"></div>
        <div class="bird"></div>
    </div>
</div>

<?php include VIEW . "default/footer.html"?>
