<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>Document</title>-->
<!--    <link rel="stylesheet" href="--><?php //echo CSS_PATH?><!--bx/passworda.css">-->
<!--    <link rel="stylesheet" href="--><?php //echo CSS_PATH?><!--base.css">-->
<!--    <script src="--><?php //echo JS_PATH?><!--jquery.js"></script>-->
<!--    <script src="--><?php //echo JS_PATH?><!--bx/passworda.js"></script>-->
<!--</head>-->
<?php include VIEW . "default/header.html"?>
<link rel="stylesheet" href="<?php echo CSS_PATH?>bx/passworda.css">

<!--<body>-->
<div class="choose-card-top">
    <div class="table">
        <div class="inner">
            <div class="content">
                <a href="/index.php/index/add_card" class="go-prev"></a>
                <ul class="titleBox">

                </ul>
                <div class="add"></div>
            </div>
        </div>
    </div>
    <ul class="header">
        <li class="photo-box">
            <div class="photo"></div>
        </li>
        <li class="user-name">Dora</li>
        <li class="motto"><span>美是一种选择，甚至是一种放弃</span></li>
    </ul>
</div>
<div class="add-card-info">
    <div class="inner">
        <div class="add-card">
            <div class="card card1">
                <div class="bank-logo">
                    <ul class="bank">
                        <li class="bank-c"></li>
                        <li class="bank-c "></li>
                        <i>BANK</i>
                    </ul>
                </div>
                <ul class="card-info">
                    <li class="card-item">CHINA ZHAOSHANGBANK
                        <span class="point">。</span></li>
                    <li class="card-item"></li>
                    <span class="card-item">6219******************6580</span>
                </ul>
            </div>
        </div>
        <div class="password-box">
            <!--            <form action="/index/check" method="post">-->
            <input type="text" class="input" maxlength="6" minlength="6"  onkeydown="onlyNum();" name="password">
            <!--            </form>-->
            <ul class="input-password-box">
                <li class="password-input">



                    <div class="point"></div>
                    <div class="line"></div>
                </li>
                <li class="password-input">

                    <div class="point"></div>
                    <div class="line"></div>
                </li>
                <li class="password-input">

                    <div class="point" style='background:#ff0000'></div>
                    <div class="line" style='background:#ff0000'></div>
                </li>
                <li class="password-input">

                    <div class="point"></div>
                    <div class="line"></div>
                </li>
                <li class="password-input">

                    <div class="point"></div>
                    <div class="line"></div>
                </li>
                <li class="password-input">

                    <div   class="point"></div>
                    <div class="line"></div>
                </li>
            </ul>
            <p class="warn">You will receive your Verificationcode<br>within 10 second</p>
        </div>
    </div>
</div>
<?php include VIEW . "default/footer.html"?>
<script src="<?php echo JS_PATH?>bx/passworda.js"></script>
