@charset "UTF-8";
body, p, pre, ul, ol, li, dl, dt, dd, form, input, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

ul, li, ol, dl, dt, dd {
  list-style: none; }

a {
  text-decoration: none; }

img {
  border: 0; }

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

@media screen and (min-width: 750px) {
  html {
    font-size: 100px; } }

body {
  background: url(../../images/liu/bgq.png);
  background-size: 100%; }

.bg {
  background: url(../../images/liu/01.png);
  background-size: 100%; }
  .bg .parcel {
    width: 7.02rem;
    height: auto;
    margin: 0 auto;
    background: 0; }
    .bg .parcel .top {
      width: 100%;
      height: 1.2rem;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .bg .parcel .top .return {
        width: 0.6rem;
        height: 0.6rem;
        border-radius: 50%;
        display: block;
        background: #C6B390;
        color: #fff;
        font-size: 0.44rem;
        text-align: center;
        line-height: 0.6rem; }
      .bg .parcel .top .registered {
        width: 1.41rem;
        height: 0.57rem;
        display: block;
        background: url(../../images/liu/kk_04.png);
        background-size: 100%;
        font-family: '文悦古体仿宋', sans-serif;
        color: #fff;
        font-size: 0.26rem;
        text-align: center;
        line-height: 0.57rem;
        border-radius: 1rem; }
    .bg .parcel .welcometo {
      width: 100%;
      height: 3.3rem;
      display: flex;
      justify-content: center;
      align-items: center; }
      .bg .parcel .welcometo div {
        width: 4.18rem;
        height: 50%;
        background: url(../../images/liu/gjighi.png) no-repeat;
        background-size: 100%; }
    .bg .parcel .login {
      width: 100%;
      height: 8.45rem; }
      .bg .parcel .login .login_1 {
        width: 60%;
        height: 5.44rem;
        margin: 0 auto;
        background: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center; }
        .bg .parcel .login .login_1 .touxiang {
          width: 1.63rem;
          height: 1.63rem;
          border-radius: 50%;
          background: url(../../images/liu/touxiang_03.png) no-repeat;
          background-size: 100%; }
        .bg .parcel .login .login_1 .login_2 {
          width: 100%;
          height: 1.9rem; }
          .bg .parcel .login .login_1 .login_2 .account {
            width: 100%;
            height: 33%;
            border-bottom: 1px solid #B9B7B7;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between; }
            .bg .parcel .login .login_1 .login_2 .account .account_1 {
              width: 15%;
              height: 100%;
              background: url(../../images/liu/yonghu.png) no-repeat center;
              background-size: 50%; }
            .bg .parcel .login .login_1 .login_2 .account input {
              width: 80%;
              background: none;
              border: none; }
          .bg .parcel .login .login_1 .login_2 .password {
            width: 100%;
            height: 33%;
            border-bottom: 1px solid #B9B7B7;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between; }
            .bg .parcel .login .login_1 .login_2 .password .password_1 {
              width: 15%;
              height: 100%;
              background: url(../../images/liu/mima.png) no-repeat center;
              background-size: 50%; }
            .bg .parcel .login .login_1 .login_2 .password input {
              width: 80%;
              background: none;
              border: none; }
          .bg .parcel .login .login_1 .login_2 .jizhu {
            width: 100%;
            height: 33%;
            border-bottom: 1px solid #B9B7B7;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between; }
            .bg .parcel .login .login_1 .login_2 .jizhu a {
              width: 30%;
              height: 100%;
              color: #999999;
              font-size: 0.18rem;
              text-align: center;
              line-height: 0.62rem; }
        .bg .parcel .login .login_1 .next {
          width: 100%;
          height: 0.85rem;
          background: #010101;
          display: flex;
          align-items: center; }
          .bg .parcel .login .login_1 .next .next_1 {
            width: 30%;
            height: 60%;
            margin: 0 auto;
            background: 0;
            display: flex;
            flex-wrap: wrap;
            cursor: pointer; }
            .bg .parcel .login .login_1 .next .next_1 .bu {
              width: 100%;
              display: block;
              text-align: center;
              color: #CEBFA3;
              font-size: 0.26rem;
              font-weight: bold; }
            .bg .parcel .login .login_1 .next .next_1 .The {
              width: 100%;
              display: block;
              color: #fff;
              font-size: 0.14rem;
              text-align: center; }
